<div class="container alert alert-success justify-content-between align-items-center p-5" role="alert">
    <div class="row">
        <div class="col">
            {% if data.return_date %}
              <h4 class="d-flex align-items-center text-black mb-4">
                  <span class="material-icons-round fs-1">connecting_airports</span>
                  Return Flight
              </h4>
            {% else %}

              <h4 class="d-flex align-items-center text-black mb-4">
                  <span class="material-icons-round fs-1">airplanemode_active</span>
                  One Way Flight
              </h4>
            {% endif %}
            <p>From <b>{{data.origin}}</b> to <b>{{data.destination}}</b> on <b>{{data.departureDate}}</b> and <b>{{data.departureTime}}</b>.</p>
            <p>Air Equip Type <b>{{data.AirEquipType}}</b> with <b>{{data.FlightNumber}}</b> FlightNumber.</p>
        </div>
    </div>
    {% if data.return_date %}
      <div class="row">
        <div class="col">
            <p>Return Flight from <b>{{data.Return_origin}}</b> to <b>{{data.Return_destination}}</b> on <b>{{data.Return_departureDate}}</b> and <b>{{data.Return_departureTime}}</b>.
            </p>
            <p>Air Equip Type <b>{{data.Return_AirEquipType}}</b> with <b>{{data.Return_FlightNumber}}</b> Flight Number.
            </p>
        </div>
      </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="btn btn-warning" data-bs-toggle="modal" href="#modal{{data.FlightNumber}}" role="button">More info and reserve</a>
        </div>
    </div>

</div>
<div class="modal fade" id="modal{{data.FlightNumber}}" aria-hidden="true" aria-labelledby="modal{{data.FlightNumber}}Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal{{data.FlightNumber}}Label">{{data.origin}} to {{data.destination}}</h5>
        <h6 class="text-danger ms-5">{{data.TotalFare_Amount}}{{data.TotalFare_CurrencyCode}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row my-3">
            <div class="col-2"><b>Go</b></div>
            <div class="col">
                <p>Departure Date: {{data.departureDate}}</p>
                <p>DepartureTime: {{data.departureTime}}</p>
            </div>
            <div class="col">
                <p>Arrival Date: {{data.ArrivalDate}}</p>
                <p>Arrival Time: {{data.ArrivalTime}}</p>
            </div>
          </div>
          {% if data.return_date %}
              <div class="row my-3">
                  <div class="col-2"><b>Return</b></div>
                <div class="col">
                    <p>Return Departure Date: {{data.Return_departureDate}}</p>
                    <p>Return Departure Time: {{data.Return_departureTime}}</p>
                </div>
                <div class="col">
                    <p>Return Arrival Date: {{data.Return_ArrivalDate}}</p>
                    <p>Return Arrival Time: {{data.Return_ArrivalTime}}</p>
                </div>
              </div>
          {% endif %}
          <div class="row my-3">
            <div class="col"><b>Passengers</b></div>
            <div class="col">Adults: {{ADTNumber}}</div>
            <div class="col">Children: {{CHDNumber}}</div>
            <div class="col">Infants: {{INFNumber}}</div>
          </div>
          <div class="row my-3">
            <div class="col"><b>Base Price:</b></div>
            {% for passenger in data.PTC_FBs %}
              <div class="col">{{passenger.PassengerTypeQuantity_Code}}: {{passenger.PassengerFare_BaseFare_Amount}}{{passenger.PassengerFare_BaseFare_CurrencyCode}} * {{passenger.PassengerTypeQuantity_Quantity}}</div>
            {% endfor %}
          </div>
          <div class="row my-3">
              <div class="col-12"><b>Taxes:</b></div>
              {% for passenger in data.PTC_FBs %}
              <row>
                  <div class="col"><b>{{passenger.PassengerTypeQuantity_Code}} * {{passenger.PassengerTypeQuantity_Quantity}}</b></div>
                  {% for tax in passenger.Taxes %}
                    <div class="col">{{tax.TaxName}}: {{tax.TaxText}}{{tax.Tax_CurrencyCode}}</div>
                  {% endfor %}
              </row>
              {% endfor %}
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-outline-danger">Next Operation (Booking)</button>
      </div>
    </div>
  </div>
</div>