body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666em;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: #343a40;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background-color: #e6f0f2;
  --color1: #fa163f;
  --color2: #12cad6;
  --color3: #0fabbc;
  --color4: #e4f9ff;
}
.bg3 {
  background-color: var(--color1);
}
.bg4 {
  background-color: var(--color2);
}
.color1 {
  color: var(--color1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}
h1 {
  font-weight: 900;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .searchButton {
    left: 25px !important;
    right: 25px !important;
    bottom: -20px !important;
  }
  .button-box1 {
    left: 25px;
    right: 25px;
    margin-top: -25%;
  }
  .lottie1 {
    width: -webkit-fill-available;
    height: 500px;
    position: absolute;
    margin-top: -196px;
    margin-left: 0px;
  }
  .img1 {
    height: 200px;
  }
  .textBox1 {
    margin-top: 200px;
    padding-left: 90px;
  }
  .mt-n-2 {
    margin-top: -40px;
  }
  .mt-n-3 {
    margin-top: -60px;
  }
  .ticket-system .top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ticket-system .top .title {
    font-weight: normal;
    font-size: 1.6em;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 50px;
    color: #fff;
  }
  .ticket-system .top .printer {
    width: 100%;
    height: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .ticket-system .receipts-wrapper {
    overflow: hidden;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  .ticket-system .receipts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-510px);
    animation-duration: 2.5s;
    animation-delay: 500ms;
    animation-name: print;
    animation-fill-mode: forwards;
  }
  .ticket-system .receipts .receipt {
    padding: 25px 30px;
    text-align: left;
    min-height: 200px;
    width: 98%;
    background-color: #fff;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
  }
  .ticket-system .receipts .receipt .airliner-logo {
    max-width: 80px;
  }
  .ticket-system .receipts .receipt .route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  .ticket-system .receipts .receipt .route .plane-icon {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
  .ticket-system .receipts .receipt .route h2 {
    font-weight: 300;
    font-size: 2.2em;
    margin: 0;
  }
  .ticket-system .receipts .receipt .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ticket-system .receipts .receipt .details .item {
    display: flex;
    flex-direction: column;
    min-width: 70px;
  }
  .ticket-system .receipts .receipt .details .item span {
    font-size: 0.8em;
    color: rgba(28, 28, 28, 0.7);
    font-weight: 500;
  }
  .ticket-system .receipts .receipt .details .item h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .ticket-system .receipts .receipt.qr-code {
    min-height: unset;
    position: relative;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    align-items: center;
  }
  .ticket-system .receipts .receipt.qr-code::before {
    content: "";
    background: linear-gradient(to right, #fff 50%, #3f32e5 50%);
    background-size: 22px 4px, 100% 4px;
    height: 4px;
    width: 90%;
    display: block;
    left: 0;
    right: 0;
    top: -1px;
    position: absolute;
    margin: auto;
  }
  .ticket-system .receipts .receipt.qr-code .qr {
    width: 70px;
    height: 70px;
  }
  .ticket-system .receipts .receipt.qr-code .description {
    margin-left: 20px;
  }
  .ticket-system .receipts .receipt.qr-code .description h2 {
    margin: 0 0 5px 0;
    font-weight: 500;
  }
  .ticket-system .receipts .receipt.qr-code .description p {
    margin: 0;
    font-weight: 400;
  }
  @keyframes print {
    0% {
      transform: translateY(-510px);
    }
    35% {
      transform: translateY(-395px);
    }
    70% {
      transform: translateY(-140px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .border-md-tob-bottom {
    border-top: #343a40 solid 1px;
    border-bottom: #343a40 solid 1px;
  }
}
@media (min-width: 769px) {
  .mt-n-1 {
    margin-top: -158px !important;
  }
  .mt-n-2 {
    margin-top: -40px;
  }
  .fixed-top {
    left: auto !important;
    right: auto !important;
  }
  .button-box1 {
    width: 300px;
    height: 45px;
    margin-top: -6%;
  }
  .lottie1 {
    width: 1200px;
    height: 1200px;
    position: absolute;
    margin-top: -500px;
    margin-left: -300px;
  }
  .img1 {
    height: 400px;
  }
  .textBox1 {
    margin-top: -50px;
    padding-left: 100px;
  }
  .fs-small {
    font-size: 10px;
  }

  .ticket-system {
    height: 300px;
  }
  .ticket-system .top {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .ticket-system .top .title {
    font-weight: normal;
    font-size: 1.6em;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 50px;
    color: #fff;
  }
  .ticket-system .top .printer {
    width: 20px;
    height: 315px;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .ticket-system .receipts-wrapper {
    overflow: hidden;
    margin-left: -10px;
    padding-right: 10px;
    width: 100%;
  }
  .ticket-system .receipts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: translateX(-510px);
    animation-duration: 2.5s;
    animation-delay: 500ms;
    animation-name: print;
    animation-fill-mode: forwards;
  }
  .ticket-system .receipts .receipt {
    padding: 25px 30px;
    text-align: left;
    height: 300px;
    background-color: #fff;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
  }
  .ticket-system .receipts .receipt .airliner-logo {
    max-width: 80px;
  }
  .ticket-system .receipts .receipt .route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  .ticket-system .receipts .receipt .route .plane-icon {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
  .ticket-system .receipts .receipt .route h2 {
    font-weight: 300;
    font-size: 2.2em;
    margin: 0;
  }
  .ticket-system .receipts .receipt .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ticket-system .receipts .receipt .details .item {
    display: flex;
    flex-direction: column;
    min-width: 70px;
  }
  .ticket-system .receipts .receipt .details .item span {
    font-size: 0.8em;
    color: rgba(28, 28, 28, 0.7);
    font-weight: 500;
  }
  .ticket-system .receipts .receipt .details .item h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .ticket-system .receipts .receipt.qr-code {
    position: relative;
    border-radius: 20px 10px 10px 20px;
    display: flex;
    align-items: center;
  }
  .ticket-system .receipts .receipt.qr-code::before {
    content: "";
    background: linear-gradient(to top, #fff 50%, #000000 50%);
    background-size: 22px 4px, 100% 4px;
    height: 90%;
    width: 4px;
    display: block;
    left: -2px;
    position: absolute;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .ticket-system .receipts .receipt.qr-code .qr {
    width: 70px;
    height: 70px;
  }
  .ticket-system .receipts .receipt.qr-code .description {
    margin-left: 20px;
  }
  .ticket-system .receipts .receipt.qr-code .description h2 {
    margin: 0 0 5px 0;
    font-weight: 500;
  }
  .ticket-system .receipts .receipt.qr-code .description p {
    margin: 0;
    font-weight: 400;
  }

  @keyframes print {
    0% {
      transform: translateX(-120%);
    }
    35% {
      transform: translateX(-60%);
    }
    70% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.mt-6 {
  margin-top: 200px !important;
}
a {
  color: black !important;
  text-decoration: inherit !important;
}
a:hover,
a:focus {
  color: #7c3e66 !important;
  text-decoration: inherit !important;
}
.button1 {
  background-color: var(--color3);
  color: white !important;
  border-color: var(--color3);
}
.button1:hover {
  color: var(--color3) !important;
  background-color: white !important;
  border-color: var(--color3);
}
.img-default {
  object-fit: cover;
  object-position: center center;
}
.rounded {
  border-radius: 16px !important;
}
/* Centered text */
.centered {
  position: absolute;

  transform: translate(-50%, -50%);
}
.box1 {
  border-radius: 16px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 12px;
}
.with-line:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}
.box2 {
  border-radius: 16px;
  background: rgba(25, 135, 84, 0.8);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 12px;
  color: #fff !important;
}
.box3 {
  border-radius: 16px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  background: rgba(255, 193, 7, 0.8);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 12px;
}
.box4 {
  border-radius: 16px;
  background-color: #e4f9ff;
  height: 200px;
  margin-top: 100px;
}
.box5 {
  border-radius: 16px;
  height: 200px;
  margin-top: 100px;
}
.box6 {
  border-radius: 16px;
  height: 200px;
}
.progress-box {
  margin-top: 7%;
  border-radius: 16px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.linear-gradient {
  border-radius: 8px;
  height: 3px;
  background-color: #b3b3b3;
  width: 80px !important;
}
.linear-gradient.activated {
  background-color: #198754;
}
.linear-gradient.active {
  background: linear-gradient(to right, #198754, #b3b3b3);
}

i.activate {
  color: #f29796;
}
.gray {
  color: #b3b3b3 !important;
}
.alert {
  border-radius: 16px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

/* circular scroll to top - start */
.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;

  content: "\2191";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: black;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 0;
}
.progress-wrap::before {
  position: absolute;
  content: "\2191";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-color: #f2642e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: black;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
body.light .progress-wrap {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}
body.light .progress-wrap::after {
  color: #223f98;
}
body.light .progress-wrap svg.progress-circle path {
  stroke: #223f98;
}
.circle {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #42c3ca;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
  box-shadow: 0 8px 8px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
}
.circle:before {
  position: absolute;
  font-family: "unicons";
  content: "\eac1";
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  opacity: 1;
  color: black;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.circle:after {
  position: absolute;
  font-family: "unicons";
  content: "\2191";
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  color: yellow;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* circular scroll to top - end */

/* Navbar - START */
.navbar-toggle {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: sticky;
  z-index: 20;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.navbar-toggle .line {
  fill: none;
  transition-delay: 400ms, 0;
  transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  transition-timing-function: ease;
  transition-duration: 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.navbar-toggle .line.top {
  stroke-dasharray: 40 139;
}
.navbar-toggle .line.bottom {
  stroke-dasharray: 20 180;
  stroke-dashoffset: -20px;
}
.navbar-toggle.active {
  transform: rotate(45deg);
}
.navbar-toggle.active .line {
  stroke: #ffffff;
}
.navbar-toggle.active .line.top {
  stroke-dashoffset: -98px;
}
.navbar-toggle.active .line.bottom {
  stroke-dashoffset: -138px;
}
.navbar-toggle:not(.active):hover .line.bottom {
  stroke-dasharray: 40 180;
  stroke-dashoffset: 0px;
}

#toggle-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: -45%;
  margin-top: -20%;
}
.navbar-new ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-new ul li {
  opacity: 0;
}
.navbar-new ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 500ms;
  position: relative;
}
.navbar-new ul li a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  transition: opacity ease 500ms;
}
.navbar-new ul li a:hover {
  letter-spacing: 3px;
}
.navbar-new ul li a:hover:before {
  opacity: 0.2;
}
#bg-circle {
  transform: scale(0);
  width: 80px;
  height: 80px;
  background: #02b3bc;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 1;
}
/* Navbar - END */
.sliderBox {
  background-image: url("../IMG/slider1-2.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  margin-top: 6%;
  border-radius: 16px;
}
.searchForm_Box {
  border-radius: 16px;
  margin-top: -10% !important;
  /* From https://css.glass */
  background: var(--color1);
  opacity: 90%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(228, 249, 255, 0.3);
}
.btn-outline-dark {
  width: 48%;
  width: 48%;
}
.btn-check:active + .btn:focus,
.btn-check:checked + .btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
  box-shadow: none !important;
}
.searchButton {
  background-color: var(--color2) !important;
  border-color: var(--color2) !important;
  box-shadow: none !important;
  margin-top: 1.5%;
  height: 45px;
  right: 0;
}

.wayButton {
  background-color: white !important;
  border-color: var(--color1) !important;
  box-shadow: none !important;
  height: 45px;
}
.wayButton:hover {
  color: var(--color1) !important;
}
.wayButton.active {
  background-color: var(--color1) !important;
  color: var(--color4) !important;
  border-color: var(--color1) !important;
}

.bookingBtn {
  border-radius: 8px;
  background-color: var(--color1);
  color: #fff;
  border: var(--color1) solid 0.5px;
}
.bookingBtn:hover {
  background-color: transparent;
  color: var(--color1);
}

header > nav {
  border-radius: 16px;
  margin-top: 20px;
}
.navbar {
  background-color: black;
  opacity: 70%;
}
.footer-new {
  background-color: var(--color1) !important;
  border-radius: 16px;
}

.bg1 {
  background-color: var(--color4);
}
.bg2 {
  background-color: var(--color3);
}
.profilePic {
  margin-top: -75px;
  margin-left: 50px;
}

datalist {
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 100%;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
  z-index: 1000;
}

option {
  background-color: white;
  padding: 4px;
  color: black;
  font-size: 14px;
  margin-bottom: 1px;
  cursor: pointer;
}

option:hover,
.active {
  background-color: var(--color4);
}
