{% extends 'main.html' %}
{% load static %}
{% block title %}Booking{% endblock %}
{% block main %}

    <div class="container progress-box d-flex justify-content-center align-items-center p-4">
        <a href="{% url 'operation_one' %}">
            <span class="material-icons-round fs-1 text-success me-2">network_ping</span>
        </a>
        <label><a href="{% url 'operation_one' %}">Ping</a></label>
        <span class="linear-gradient activated mx-3"></span>
        <a href="{% url 'operation_two' %}">
            <span class="material-icons-round fs-1 text-success me-2">travel_explore</span>
        </a>
        <label><a href="{% url 'operation_two' %}">Low Fare Search</a></label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons-round fs-1 text-success me-2">checklist_rtl</span>
        <label>Fare Rule</label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons-round fs-1 text-danger me-2">assignment_ind</span>
        <label>Book & Ticket</label>
        <span class="linear-gradient mx-3 active"></span>
        <span class="material-icons fs-1 me-2 gray">airplane_ticket</span>
        <label class="gray">Read Reservation</label>
    </div>


    <div class="container mt-5 box2 px-5 py-4">
        {% for data in selected_flight %}
            <div class="d-flex justify-content-between align-items-center">
                {% if data.return_date %}
                    <h5 class="d-flex align-items-center text-black m-0 p-0 col-2">
                        <span class="material-icons-round fs-1">connecting_airports</span>
                        Return Flight
                    </h5>
                {% else %}
                    <h5 class="d-flex align-items-center text-black m-0 p-0 col-2">
                        <span class="material-icons-round fs-1">airplanemode_active</span>
                        One Way Flight
                    </h5>
                {% endif %}
                <p class="m-0 p-0 "><b>Origin:</b></br>{{data.origin}}</p>
                <p class="m-0 p-0"><b> Destination:</b></br>{{data.destination}}</p>
                <p class="m-0 p-0"><b> Departure Date:</b></br>{{data.departureDate}}</p>
                <p class="m-0 p-0"><b> Departure Time:</b></br>{{data.departureTime}}</p>
                <p class="m-0 p-0"><b> Flight Number:</b></br>{{data.FlightNumber}}</p>
                <p class="m-0 p-0"><b> Air Equip Type:</b></br>{{data.AirEquipType}}</p>
                <p class="m-0 p-0"><b> FareRuleText:</b> {{operation_three_RS.FareRuleText}}</br></p>
                <p class="m-0 p-0"><b> FlightRefNumberRPH:</b> {{operation_three_RS.FlightRefNumberRPH}}</br></p>
                <a class="btn btn-warning p-3" data-bs-toggle="modal" href="#modal{{data.FlightNumber}}" role="button"><b>More Info</b></a>
            </div>
            <div class="modal fade text-black" id="modal{{data.FlightNumber}}" aria-hidden="true" aria-labelledby="modal{{data.FlightNumber}}Label" tabindex="-1" style="backdrop-filter: unset;">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal{{data.FlightNumber}}Label">{{data.origin}} to {{data.destination}}</h5>
                      <h6 class="text-danger ms-5">{{data.TotalFare_Amount}}{{data.TotalFare_CurrencyCode}}</h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row my-3">
                          <div class="col-2"><b>Go</b></div>
                          <div class="col">
                              <p>Departure Date: {{data.departureDate}}</p>
                              <p>DepartureTime: {{data.departureTime}}</p>
                          </div>
                          <div class="col">
                              <p>Arrival Date: {{data.ArrivalDate}}</p>
                              <p>Arrival Time: {{data.ArrivalTime}}</p>
                          </div>
                        </div>
                        {% if data.return_date %}
                            <div class="row my-3">
                                <div class="col-2"><b>Return</b></div>
                              <div class="col">
                                  <p>Return Departure Date: {{data.Return_departureDate}}</p>
                                  <p>Return Departure Time: {{data.Return_departureTime}}</p>
                              </div>
                              <div class="col">
                                  <p>Return Arrival Date: {{data.Return_ArrivalDate}}</p>
                                  <p>Return Arrival Time: {{data.Return_ArrivalTime}}</p>
                              </div>
                            </div>
                        {% endif %}
                        <div class="row my-3">
                          <div class="col"><b>Base Price:</b></div>
                          {% for passenger in data.PTC_FBs %}
                            <div class="col">{{passenger.PassengerTypeQuantity_Code}}: {{passenger.PassengerFare_BaseFare_Amount}}{{passenger.PassengerFare_BaseFare_CurrencyCode}} * {{passenger.PassengerTypeQuantity_Quantity}}</div>
                          {% endfor %}
                        </div>
                        <div class="row my-3">
                            <div class="col-12"><b>Taxes:</b></div>
                            {% for passenger in data.PTC_FBs %}
                            <row>
                                <div class="col"><b>{{passenger.PassengerTypeQuantity_Code}} * {{passenger.PassengerTypeQuantity_Quantity}}</b></div>
                                {% for tax in passenger.Taxes %}
                                  <div class="col">{{tax.TaxName}}: {{tax.TaxText}}{{tax.Tax_CurrencyCode}}</div>
                                {% endfor %}
                            </row>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
            </div>
    
        {% endfor %}
    </div>
    <div class="container">
        <form class="row g-3 mt-5" action="{% url 'read_reservation' %}" method="POST">
            {% csrf_token %}
            {% for data in selected_flight %}
                {% for passengerCode in data.PTC_FBs %}
                    {% for passengerQuantity in passengerCode.PassengerTypeQuantity_Range %}
                        <div class="container box1 mb-5 p-5">
                            <h3>{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}</h3>
                            <div class="row">
                                <div class="col-4">
                                    <label for="NamePrefix{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Name Prefix</label>
                                    <select id="NamePrefix{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="NamePrefix{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" required>
                                        <option value="" disabled selected>Select NamePrefix</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Ms</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="GivenName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">First Name</label>
                                    <input type="name" class="form-control" id="GivenName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="GivenName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="First Name" required/>
                                </div>
                                <div class="col-4">
                                    <label for="SureName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Sure Name</label>
                                    <input type="name" class="form-control" id="SureName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="SureName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="Last Name" required/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="BirthDate{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="BirthDate{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="BirthDate{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="Birth Date" required/>
                                </div>
                                <div class="col">
                                    <label for="Gender{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Gender</label>
                                    <select id="Gender{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="Gender{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" required>
                                        <option value="" disabled selected>Select Gender</option>
                                        <option>M</option>
                                        <option>F</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="TravelerNationality{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Nationality</label>
                                    <select id="TravelerNationality{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="TravelerNationality{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" required>
                                        <option value="" disabled selected>Select Nationality</option>
                                        <option>IR</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="DocID{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-label">Doc ID</label>
                                    <input type="text" class="form-control" id="DocID{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="DocID{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="DocID" required/>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            <div class="container mb-5 box3 p-5">
                <div class="row">
                    <h4>Contact info</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="ContactGivenName" class="form-label">First Name</label>
                        <input type="name" class="form-control" id="ContactGivenName" name="ContactGivenName" placeholder="First Name" required/>
                    </div>
                    <div class="col">
                        <label for="ContactSureName" class="form-label">Sure Name</label>
                        <input type="name" class="form-control" id="ContactSureName" name="ContactSureName" placeholder="Last Name" required/>
                    </div>
                    <div class="col">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required/>
                    </div>
                    <div class="col">
                        <label for="Telephone" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="Telephone" name="Telephone" placeholder="Mobile Number" required/>
                    </div>
                    <div class="col">
                        <label for="HomeTelephone" class="form-label">Home Number</label>
                        <input type="text" class="form-control" id="HomeTelephone" name="HomeTelephone" placeholder="Home Number" required/>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            <a href="{% url 'home_page' %}" class="btn btn-outline-secondary">Back</a>
            <button type="submit" class="btn btn-success mb-5" value="Submit" name="submit">Submit</button>
        </form>
    </div>
    {% for Error in Error %}
        {% if 'None' not in Error.ErrorText %}
            <div class="container px-0 pb-5">
                <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
                    <p class="mt-0 mb-0">{{Error.ErrorText}} // Code: {{Error.ErrorCode}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}