{% extends 'main.html' %}
{% load static %}
{% block title %}Operation Four{% endblock %}
{% block main %}
    
    <div class="container mt-5">
        {% for data in flight_list_booking %}
            <div class="alert alert-success d-flex justify-content-between align-items-center" role="alert">
                <p class="m-0 p-0"><b>Origin: </b> {{data.origin}},</p>
                <p class="m-0 p-0"><b> Destination: </b> {{data.destination}},</p>
                <p class="m-0 p-0"><b> Departure Date: </b> {{data.departureDate}},</p>
                <p class="m-0 p-0"><b> Departure Time: </b> {{data.departureTime}},</p>
                <p class="m-0 p-0"><b> Arrival Date: </b> {{data.ArrivalDate}},</p>
                <p class="m-0 p-0"><b> Arrival Time: </b> {{data.ArrivalTime}},</p>
                <p class="m-0 p-0"><b> Duration: </b> {{data.Duration}},</p>
                <p class="m-0 p-0"><b> Flight Number: </b> {{data.FlightNumber}},</p>
                <p class="m-0 p-0"><b> Air Equip Type: </b> {{data.AirEquipType}},</p>
                <a class="btn btn-primary" data-bs-toggle="modal" href="#modal{{data.FlightNumber}}" role="button">Open first modal</a>
            </div>
            <div class="modal fade" id="modal{{data.FlightNumber}}" aria-hidden="true" aria-labelledby="modal{{data.FlightNumber}}Label" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modal{{data.FlightNumber}}Label">{{data.origin}} to {{data.destination}}</h5>
                    <h5>{{data.TotalFare_Amount}}{{data.TotalFare_CurrencyCode}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <div class="col">
                            <p>Departure Date: {{data.departureDate}}</p>
                            <p>Departure Time: {{data.departureTime}}</p>
                        </div>
                        <div class="col">
                            <p>Arrival Date: {{data.ArrivalDate}}</p>
                            <p>Arrival Time: {{data.ArrivalTime}}</p>
                        </div>
                        </div>
                        <div class="row">
                        <h6>Passengers</h6>
                        <p>Adult: {{ADTNumber}}</p>
                        <p>Child: {{CHDNumber}}</p>
                        <p>Baby: {{INFNumber}}</p>
                        </div>
                        <div class="row">
                            <h6>Base Prices:</h6>
                            {% for passenger in data.PTC_FBs %}
                            <p>{{passenger.PassengerTypeQuantity_Code}}: {{passenger.PassengerFare_BaseFare_Amount}}{{passenger.PassengerFare_BaseFare_CurrencyCode}} * {{passenger.PassengerTypeQuantity_Quantity}}</p>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <h6>Taxes:</h6>
                            {% for passenger in data.PTC_FBs %}
                            <p><b>{{passenger.PassengerTypeQuantity_Code}} * {{passenger.PassengerTypeQuantity_Quantity}}</b></p>
                            {% for tax in passenger.Taxes %}
                                <p>{{tax.TaxName}}: {{tax.TaxText}}{{tax.Tax_CurrencyCode}}</p>
                            {% endfor %}
                            <p></p>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
                </div>
            </div>
            
    
        {% endfor %}
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {% for data in flight_list_booking %}
                {% for passengerCode in data.PTC_FBs %}
                    {% for passengerQuantity in passengerCode.PassengerTypeQuantity_Range %}
                        <div class="container">
                            <h1>{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}</h1>
                            <div class="row">
                                <div class="col">
                                    <label for="NamePrefix" class="form-label">NamePrefix</label>
                                    <select id="NamePrefix{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="NamePrefix{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}">
                                        <option value="" disabled selected>Select NamePrefix</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="name" class="form-control" id="GivenName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="GivenName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="First Name"/></div>
                                <div class="col"><input type="name" class="form-control" id="SureName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="SureName{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="Last Name"/></div>
                                <div class="col"><input type="date" class="form-control" id="BirthDate{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="BirthDate{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="Birth Date"/></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="Gender" class="form-label">Gender</label>
                                    <select id="Gender{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="Gender{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}">
                                        <option value="" disabled selected>Select Gender</option>
                                        <option>M</option>
                                        <option>F</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="TravelerNationality" class="form-label">Nationality</label>
                                    <select id="TravelerNationality{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" class="form-select" name="TravelerNationality{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}">
                                        <option value="" disabled selected>Select Nationality</option>
                                        <option>IR</option>
                                    </select>
                                </div>
                                <div class="col"><input type="text" class="form-control" id="DocID{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" name="DocID{{passengerQuantity}}{{passengerCode.PassengerTypeQuantity_Code}}" placeholder="DocID"/></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            <div class="container">
                <div class="row">
                    <h4>Contact info</h4>
                </div>
                <div class="row">
                    <div class="col"><input type="name" class="form-control" id="ContactGivenName" name="ContactGivenName" placeholder="First Name"/></div>
                    <div class="col"><input type="name" class="form-control" id="ContactSureName" name="ContactSureName" placeholder="Last Name"/></div>
                    <div class="col"><input type="email" class="form-control" id="Email" name="Email" placeholder="Email" /></div>
                </div>
                <div class="row">
                    <div class="col"><input type="texg" class="form-control" id="Telephone" name="Telephone" placeholder="Mobile number"/></div>
                    <div class="col"><input type="text" class="form-control" id="HomeTelephone" name="HomeTelephone" placeholder="Home number"/></div>
                </div>
            </div>
            <input type="submit" value="Submit" name="submit">
        </form>
    </div>
    
{% endblock %}