{% extends 'main.html' %}
{% load static %}
{% block title %}Persino{% endblock %}
{% block main %}
    <div id="gradient">
      <div class="container vh-100 d-flex align-items-center">
          <div class="row w-100">
              <div class="textBox1 col-md col-12 text-start order-md-1 order-2" style="">
                  <h5 class="with-line" style="transform: translate(0px, 0px);"> Persino</h5>
                  <h1 class="my-3">Fly With</br><span class="color1">Cheapest</span> Flight</h1>
                  <h3 class="fw-bold">Search and Find</h3>
                  <p class="w-75 my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in tortor ex. Mauris sodales vulputate pharetra. </p>
              </div>
              <div class="col-md col-12 order-md-2 order-1 overflow-hidden w-100">
                  <div class="overflow-hidden w-100">
                      <lottie-player class="lottie1 overflow-hidden" src="https://assets1.lottiefiles.com/packages/lf20_bbyxgwhr.json"  background="transparent"  speed="1"  loop autoplay></lottie-player>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="container px-5">
        <form class="container searchForm_Box p-5" method="POST" id="post-form">
          {% csrf_token %}
          <div class="button-box1 text-md-end position-absolute">
            <button class="wayButton btn btn-outline-dark active fw-bold" type="button" id="OW">One Way</button>
            <button class="wayButton btn btn-outline-dark fw-bold" type="button" id="RT">Return</button>
          </div>
          <div class="row g-3">
            <div class="col-md col-12">
              <div class="form-floating">
                <input class="form-control" autocomplete="off" list="" id="input1" name="browsers11" placeholder="Origin...">
                <label for="input1">Origin</label>
                <datalist id="browsers1">
                    <option class="text-muted fw-bold border-bottom" disabled>United Arab Emirates</option>
                    <option>DWC (Dubai)</option>
                    <option>DXB (Dubai)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Afghanistan</option>
                    <option>KBL (Kabul)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Armenia</option>
                    <option>EVN (Yerevan)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Austria</option>
                    <option>VIE (Vienna)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Azerbaijan</option>
                    <option>GYD (Baku)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bangladesh</option>
                    <option>DAC (Dhaka)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bulgaria</option>
                    <option>VAR (Varna)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bahrain</option>
                    <option>BAH (Muharraq)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Belarus</option>
                    <option>MSQ (Minsk)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Switzerland</option>
                    <option>GVA (Geneva)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>China</option>
                    <option>CAN (Guangzhou)</option>
                    <option>PEK (Beijing)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Cyprus</option>
                    <option>LCA (Larnaca)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Germany</option>
                    <option>CGN (Cologne)</option>
                    <option>FRA (Frankfurt)</option>
                    <option>HAM (Hamburg)</option>
                    <option>MUC (Munich)</option>
                    <option>DUS (Dusseldorf)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Denmark</option>
                    <option>CPH (Copenhagen)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Spain</option>
                    <option>BCN (Barcelona)</option>
                    <option>MAD (Madrid)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>France</option>
                    <option>CDG (Paris)</option>
                    <option>ORY (Paris)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>United Kingdom</option>
                    <option>LHR (London)</option>
                    <option>MAN (Manchester)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Georgia</option>
                    <option>TBS (Tbilisi)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Greece</option>
                    <option>ATH (Athens)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Indonesia</option>
                    <option>DPS (Denpasar Bali)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>India</option>
                    <option>BOM (Mumbai)</option>
                    <option>DEL (Delhi)</option>
                    <option>GOI (Goa)</option>
                    <option>JAI (Jaipur)</option>
                    <option>AMD (Ahmedabad)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Iraq</option>
                    <option>BGW (Baghdad)</option>
                    <option>EBL (Erbil)</option>
                    <option>ISU (Sulaymaniyah)</option>
                    <option>NJF (Najaf)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Iran</option>
                    <option>IKA (Tehran)</option>
                    <option>THR (Tehran)</option>
                    <option>MHD (Mashhad)</option>
                    <option>ABD (Abadan)</option>
                    <option>ACP (Maragheh)</option>
                    <option>ADU (Ardabil)</option>
                    <option>AEU (Abu Musa Island)</option>
                    <option>AFZ (Sabzevar)</option>
                    <option>AJK (Araak)</option>
                    <option>AWZ (Ahwaz)</option>
                    <option>AZD (Yazd)</option>
                    <option>BDH (Bandar Lengeh)</option>
                    <option>BJB (Bojnurd)</option>
                    <option>BND (Bandar Abbas)</option>
                    <option>BUZ (Bushehr)</option>
                    <option>CQD (Shahre Kord)</option>
                    <option>DEF (Dezful)</option>
                    <option>GBT (Gorgan)</option>
                    <option>GCH (Gachsaran)</option>
                    <option>GSM (Gheshm Island)</option>
                    <option>HDM (Hamadan)</option>
                    <option>IFN (Esfahan)</option>
                    <option>IHR (Iranshahr)</option>
                    <option>IIL (Ilam)</option>
                    <option>JAR (Jahrom)</option>
                    <option>JWN (Zanjan)</option>
                    <option>KER (Kerman)</option>
                    <option>KHD (Khorramabad)</option>
                    <option>KHY (Khoy)</option>
                    <option>KIH (Kish Island)</option>
                    <option>KLM (Kalaleh)</option>
                    <option>KSH (Kermanshah)</option>
                    <option>LFM (Lamerd)</option>
                    <option>LRR (Lar)</option>
                    <option>NSH (Now Shahr)</option>
                    <option>OMH (Urumiyeh)</option>
                    <option>PFQ (Parsabad)</option>
                    <option>PGU (Asaloyeh)</option>
                    <option>RAS (Rasht)</option>
                    <option>RUD (Shahrud)</option>
                    <option>RZR (Ramsar)</option>
                    <option>SDG (Sanandaj)</option>
                    <option>SNX (Semnan)</option>
                    <option>SRY (Sari)</option>
                    <option>SYZ (Shiraz)</option>
                    <option>TBZ (Tabriz)</option>
                    <option>XBJ (Birjand)</option>
                    <option>ZAH (Zahedan)</option>
                    <option>ZBR (Chah Bahar)</option>
                    <option>IMQ (Maku)</option>
                    <option>JSK (Jask)</option>
                    <option>PYK (Karaj)</option>
                    <option>SYJ (Sirjan)</option>
                    <option>ACZ (Zabol)</option>
                    <option>AKW (Aghajari)</option>
                    <option>BXR (Bam)</option>
                    <option>CKT (Sarakhs)</option>
                    <option>FAZ (Fasa)</option>
                    <option>GZW (Ghazvin)</option>
                    <option>HDR (Havadarya)</option>
                    <option>IAQ (Bahregan)</option>
                    <option>IFH (Hesa)</option>
                    <option>JYR (Jiroft)</option>
                    <option>KHA (Khaneh)</option>
                    <option>KHK (Khark Island)</option>
                    <option>LVP (Lavan Island)</option>
                    <option>OMI (Omidiyeh)</option>
                    <option>RJN (Rafsanjan)</option>
                    <option>TCX (Tabas)</option>
                    <option>KNR (Kangan)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Italy</option>
                    <option>FCO (Rome)</option>
                    <option>MXP (Milan)</option>
                    <option>RMI (Rimini)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Jordan</option>
                    <option>AMM (Amman)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Japan</option>
                    <option>NRT (Narita)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>South Korea</option>
                    <option>ICN (Seoul)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Kuwait</option>
                    <option>KWI (Kuwait)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Lebanon</option>
                    <option>BEY (Beirut)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Morocco</option>
                    <option>RAK (Marrakech)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Myanmar</option>
                    <option>RGN (Yangon)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Malaysia</option>
                    <option>KUL (Kuala Lumpur)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Netherlands</option>
                    <option>AMS (Amsterdam)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Oman</option>
                    <option>MCT (Muscat)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Pakistan</option>
                    <option>KHI (Karachi)</option>
                    <option>LHE (Lahore)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Qatar</option>
                    <option>DOH (Doha)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Serbia</option>
                    <option>BEG (Belgrade)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Russian Federation</option>
                    <option>LED (St Petersburg)</option>
                    <option>SVO (Moscow)</option>
                    <option>VKO (Moscow)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Saudi Arabia</option>
                    <option>DMM (Dammam)</option>
                    <option>JED (Jeddah)</option>
                    <option>MED (Madinah)</option>
                    <option>RUH (Riyadh)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Sweden</option>
                    <option>NYO (Stockholm)</option>
                    <option>ARN (Stockholm)</option>
                    <option>GOT (Goteborg)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Singapore</option>
                    <option>SIN (Singapore)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Syrian Arab Republic</option>
                    <option>DAM (Damascus)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Thailand</option>
                    <option>BKK (Bangkok)</option>
                    <option>HKT (Phuket)</option>
                    <option>UTP (U Tapao)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Tunisia</option>
                    <option>TUN (Tunis)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Turkey</option>
                    <option>ADB (Izmir)</option>
                    <option>DNZ (Denizli)</option>
                    <option>ESB (Ankara)</option>
                    <option>ISE (Isparta)</option>
                    <option>SAW (Istanbul)</option>
                    <option>IST (Istanbul)</option>
                    <option>KYA (Konya)</option>
                    <option>AYT (Antalya)</option>
                    <option>GZP (Gazipasa)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Uzbekistan</option>
                    <option>KSQ (Karshi)</option>
                    <option>TAS (Tashkent)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Venezuela, Bolivarian Republic of</option>
                    <option>CCS (Caracas)</option>
                </datalist>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="form-floating">
                <input class="form-control" autocomplete="off" list="" id="input2" name="browsers22" placeholder="Destination...">
                <label for="input2">Destination</label>
                <datalist id="browsers2">
                    <option class="text-muted fw-bold border-bottom" disabled>United Arab Emirates</option>
                    <option>DWC (Dubai)</option>
                    <option>DXB (Dubai)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Afghanistan</option>
                    <option>KBL (Kabul)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Armenia</option>
                    <option>EVN (Yerevan)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Austria</option>
                    <option>VIE (Vienna)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Azerbaijan</option>
                    <option>GYD (Baku)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bangladesh</option>
                    <option>DAC (Dhaka)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bulgaria</option>
                    <option>VAR (Varna)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Bahrain</option>
                    <option>BAH (Muharraq)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Belarus</option>
                    <option>MSQ (Minsk)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Switzerland</option>
                    <option>GVA (Geneva)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>China</option>
                    <option>CAN (Guangzhou)</option>
                    <option>PEK (Beijing)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Cyprus</option>
                    <option>LCA (Larnaca)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Germany</option>
                    <option>CGN (Cologne)</option>
                    <option>FRA (Frankfurt)</option>
                    <option>HAM (Hamburg)</option>
                    <option>MUC (Munich)</option>
                    <option>DUS (Dusseldorf)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Denmark</option>
                    <option>CPH (Copenhagen)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Spain</option>
                    <option>BCN (Barcelona)</option>
                    <option>MAD (Madrid)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>France</option>
                    <option>CDG (Paris)</option>
                    <option>ORY (Paris)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>United Kingdom</option>
                    <option>LHR (London)</option>
                    <option>MAN (Manchester)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Georgia</option>
                    <option>TBS (Tbilisi)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Greece</option>
                    <option>ATH (Athens)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Indonesia</option>
                    <option>DPS (Denpasar Bali)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>India</option>
                    <option>BOM (Mumbai)</option>
                    <option>DEL (Delhi)</option>
                    <option>GOI (Goa)</option>
                    <option>JAI (Jaipur)</option>
                    <option>AMD (Ahmedabad)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Iraq</option>
                    <option>BGW (Baghdad)</option>
                    <option>EBL (Erbil)</option>
                    <option>ISU (Sulaymaniyah)</option>
                    <option>NJF (Najaf)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Iran</option>
                    <option>IKA (Tehran)</option>
                    <option>THR (Tehran)</option>
                    <option>MHD (Mashhad)</option>
                    <option>ABD (Abadan)</option>
                    <option>ACP (Maragheh)</option>
                    <option>ADU (Ardabil)</option>
                    <option>AEU (Abu Musa Island)</option>
                    <option>AFZ (Sabzevar)</option>
                    <option>AJK (Araak)</option>
                    <option>AWZ (Ahwaz)</option>
                    <option>AZD (Yazd)</option>
                    <option>BDH (Bandar Lengeh)</option>
                    <option>BJB (Bojnurd)</option>
                    <option>BND (Bandar Abbas)</option>
                    <option>BUZ (Bushehr)</option>
                    <option>CQD (Shahre Kord)</option>
                    <option>DEF (Dezful)</option>
                    <option>GBT (Gorgan)</option>
                    <option>GCH (Gachsaran)</option>
                    <option>GSM (Gheshm Island)</option>
                    <option>HDM (Hamadan)</option>
                    <option>IFN (Esfahan)</option>
                    <option>IHR (Iranshahr)</option>
                    <option>IIL (Ilam)</option>
                    <option>JAR (Jahrom)</option>
                    <option>JWN (Zanjan)</option>
                    <option>KER (Kerman)</option>
                    <option>KHD (Khorramabad)</option>
                    <option>KHY (Khoy)</option>
                    <option>KIH (Kish Island)</option>
                    <option>KLM (Kalaleh)</option>
                    <option>KSH (Kermanshah)</option>
                    <option>LFM (Lamerd)</option>
                    <option>LRR (Lar)</option>
                    <option>NSH (Now Shahr)</option>
                    <option>OMH (Urumiyeh)</option>
                    <option>PFQ (Parsabad)</option>
                    <option>PGU (Asaloyeh)</option>
                    <option>RAS (Rasht)</option>
                    <option>RUD (Shahrud)</option>
                    <option>RZR (Ramsar)</option>
                    <option>SDG (Sanandaj)</option>
                    <option>SNX (Semnan)</option>
                    <option>SRY (Sari)</option>
                    <option>SYZ (Shiraz)</option>
                    <option>TBZ (Tabriz)</option>
                    <option>XBJ (Birjand)</option>
                    <option>ZAH (Zahedan)</option>
                    <option>ZBR (Chah Bahar)</option>
                    <option>IMQ (Maku)</option>
                    <option>JSK (Jask)</option>
                    <option>PYK (Karaj)</option>
                    <option>SYJ (Sirjan)</option>
                    <option>ACZ (Zabol)</option>
                    <option>AKW (Aghajari)</option>
                    <option>BXR (Bam)</option>
                    <option>CKT (Sarakhs)</option>
                    <option>FAZ (Fasa)</option>
                    <option>GZW (Ghazvin)</option>
                    <option>HDR (Havadarya)</option>
                    <option>IAQ (Bahregan)</option>
                    <option>IFH (Hesa)</option>
                    <option>JYR (Jiroft)</option>
                    <option>KHA (Khaneh)</option>
                    <option>KHK (Khark Island)</option>
                    <option>LVP (Lavan Island)</option>
                    <option>OMI (Omidiyeh)</option>
                    <option>RJN (Rafsanjan)</option>
                    <option>TCX (Tabas)</option>
                    <option>KNR (Kangan)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Italy</option>
                    <option>FCO (Rome)</option>
                    <option>MXP (Milan)</option>
                    <option>RMI (Rimini)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Jordan</option>
                    <option>AMM (Amman)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Japan</option>
                    <option>NRT (Narita)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>South Korea</option>
                    <option>ICN (Seoul)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Kuwait</option>
                    <option>KWI (Kuwait)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Lebanon</option>
                    <option>BEY (Beirut)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Morocco</option>
                    <option>RAK (Marrakech)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Myanmar</option>
                    <option>RGN (Yangon)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Malaysia</option>
                    <option>KUL (Kuala Lumpur)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Netherlands</option>
                    <option>AMS (Amsterdam)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Oman</option>
                    <option>MCT (Muscat)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Pakistan</option>
                    <option>KHI (Karachi)</option>
                    <option>LHE (Lahore)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Qatar</option>
                    <option>DOH (Doha)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Serbia</option>
                    <option>BEG (Belgrade)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Russian Federation</option>
                    <option>LED (St Petersburg)</option>
                    <option>SVO (Moscow)</option>
                    <option>VKO (Moscow)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Saudi Arabia</option>
                    <option>DMM (Dammam)</option>
                    <option>JED (Jeddah)</option>
                    <option>MED (Madinah)</option>
                    <option>RUH (Riyadh)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Sweden</option>
                    <option>NYO (Stockholm)</option>
                    <option>ARN (Stockholm)</option>
                    <option>GOT (Goteborg)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Singapore</option>
                    <option>SIN (Singapore)</option>
                    <option>Syrian Arab Republic</option>
                    <option>DAM (Damascus)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Thailand</option>
                    <option>BKK (Bangkok)</option>
                    <option>HKT (Phuket)</option>
                    <option>UTP (U Tapao)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Tunisia</option>
                    <option>TUN (Tunis)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Turkey</option>
                    <option>ADB (Izmir)</option>
                    <option>DNZ (Denizli)</option>
                    <option>ESB (Ankara)</option>
                    <option>ISE (Isparta)</option>
                    <option>SAW (Istanbul)</option>
                    <option>IST (Istanbul)</option>
                    <option>KYA (Konya)</option>
                    <option>AYT (Antalya)</option>
                    <option>GZP (Gazipasa)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Uzbekistan</option>
                    <option>KSQ (Karshi)</option>
                    <option>TAS (Tashkent)</option>
                    <option class="text-muted fw-bold border-bottom mt-2" disabled>Venezuela, Bolivarian Republic of</option>
                    <option>CCS (Caracas)</option>
                </datalist>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="form-floating">
                <input class="form-control" id="Date" name="departureTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Departure Date">
                <label for="Date">Departure Date</label>
              </div>
            </div>
            <div class="col-md col-12" id="Return_departureTimeCol" style="display: none;">
              <div class="form-floating">
                <input class="form-control" id="Return_Date" name="Return_departureTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Return Date" style="display: none;">
                <label for="Return_Date">Return Date</label>
              </div>
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-md col-12">
                <div class="form-floating">
                  <select id="Cabin" class="form-select" name="Cabin">
                    <option>Economy</option>
                    <option>Business</option>
                  </select>
                  <label for="Cabin">Cabin</label>
                </div>
            </div>
            <div class="col-md col-12">
              <div class="form-floating">
                <input type="number" class="form-control" id="ADTNumber" value="{{ADTNumber}}" name="ADTNumber" placeholder="Adult Number">
                <label for="ADTNumber">Adult Number</label>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="form-floating">
                <input type="number" class="form-control" id="CHDNumber" value="{{CHDNumber}}" name="CHDNumber" placeholder="Child Number">
                <label for="CHDNumber">Child Number</label>
              </div>
            </div>
            <div class="col-md col-12">
              <div class="form-floating">
                <input type="number" class="form-control" id="INFNumber" value="{{INFNumber}}" name="INFNumber" placeholder="Infant Number">
                <label for="INFNumber">Infant Number</label>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-danger position-absolute searchButton fw-bold me-md-5 px-4 text-white" type="submit">
            <i class="fa fa-search"></i>
            Search for Cheapest
          </button>  
        </form>
    </div>
    <div id="loader" class="container">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_h7uimaj6.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin: auto;"  loop autoplay></lottie-player>
    </div>
    <div id="showresults" class="container my-5 px-0 pb-5">
          {% if flight_list %}
              {% for data in flight_list %}
                  <form method="POST" action="{% if user.is_authenticated %}{% url 'booking_page' FlightNumber=data.FlightNumber %}{% else %}{% url 'loginView' %}?next={{ request.path }}{% endif %}">
                    {% csrf_token %}
                      <div class="container py-5">
                        <div class="ticket-system">
                          <div class="top">
                            <div class="printer" {% if data.return_date %} style="height: 375px !important;" {% endif %}/>
                            </div>
                            <div class="receipts-wrapper py-md-3">
                                <div class="receipts">
                                  <div class="receipt col-8" {% if data.return_date %} style="height:360px !important;" {% endif %}>
                                    <div class="row">
                                        <div class="col text-md-left text-center border">
                                          <h3 class="fw-light mb-3">{{data.origin}}</h3>
                                          <h6 class="text-secondary">Tehran</h6>
                                          <h6 class="text-secondary">{{data.departureDate}}</h6>
                                          <h6 class="text-secondary">{{data.departureTime}}</h6>
                                          
                                          {% if data.return_date %}
                                            <h6 class="color1 mt-3">#Return</h6>
                                            <h6 class="text-secondary">{{data.Return_ArrivalDate}}</h6>
                                            <h6 class="text-secondary">{{data.Return_ArrivalTime}}</h6>
                                          {% endif %}

                                        </div>
                                        <div class="col text-center my-4 py-4">
                                          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_d8skfitr.json"  background="transparent"  speed="1"  style="height: 50px;"  loop  autoplay></lottie-player>
                                          
                                          {% if data.return_date %}
                                            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_d8skfitr.json"  background="transparent"  speed="1"  style="width: 300px; height: 50px; transform: rotate(180deg); margin-top: -30px;"  loop  autoplay></lottie-player>
                                          {% endif %}

                                          {% if data.return_date %}
                                            <h5 class="text-secondary my-2">Return Flight</h5>
                                          {% else %}
                                            <h5 class="text-secondary my-2">One Way Flight</h5>
                                          {% endif %}
                                          <img class="mt-4" src="{% static 'img/IranAir-Logo.svg' %}" alt="Iran Air Logo" width="120px"/>
                                        </div>
                                        <div class="col text-md-end text-center">
                                          <h3 class="fw-light mb-3">{{data.destination}}</h3>
                                          <h6 class="text-secondary">Mashhad</h6>
                                          <h6 class="text-secondary">{{data.ArrivalDate}}</h6>
                                          <h6 class="text-secondary">{{data.ArrivalTime}}</h6>
                    
                                          {% if data.return_date %}
                                            <h6 class="color1 mt-3">#Return</h6>
                                            <h6 class="text-secondary">{{data.Return_departureDate}}</h6>
                                            <h6 class="text-secondary">{{data.Return_departureTime}}</h6>
                                          {% endif %}
                                        </div>
                                    </div>
                                      <div class="row mt-md-4 mt-5 justify-content-between">
                                        <div class="col align-self-center">
                                          <h6 class="">Flight No.</h6>
                                          <h6 class="text-secondary">{{data.FlightNumber}}</h6>
                                          {% if data.return_date %}
                                            <h6 class="color1 mt-3">#Return</h6>
                                            <h6 class="text-secondary">{{data.Return_FlightNumber}}</h6>
                                          {% endif %}
                                        </div>
                                        <div class="col align-self-center text-end">
                                          <h6 class="">Air Equip Type</h6>
                                          <h6 class="text-secondary">{{data.AirEquipType}}</h6>
                                          {% if data.return_date %}
                                            <h6 class="color1 mt-3">#Return</h6>
                                            <h6 class="text-secondary">{{data.Return_AirEquipType}}</h6>
                                          {% endif %}
                                        </div>
                                      </div>
                                      
                                  </div>
                                  <div class="receipt col-4 qr-code" {% if data.return_date %} style="height:360px !important;" {% endif %}>
                                    <div class="container text-center p-5">
                                      <div class="row">
                                        <h6 class="text-secondary">Total Price</h6>
                                        <h3 class="color1">{{data.TotalFare_Amount}} {{data.TotalFare_CurrencyCode}}</h3>
                                      </div>
                                      <div class="row mt-5">
                                        <button type="submit" class="bookingBtn p-2"><h5 class="fw-normal">Book/Reserve</h5></button>
                                      </div>
                                      <div class="row mt-2">
                                        <h6><a class="text-secondary">Flight Fare Rules</a></h6>
                                      </div>
                                    </div>
                                      
                                  </div>
                                </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      
                  </form>
              {% endfor %}

          {% elif 'None' not in origin or 'None' not in destination %}
              <div class="alert alert-warning" role="alert">
                  Sorry, There is no flight from {{origin}} to {{destination}} on {{departureTime}}.
              </div>
          {% endif %}
    </div>

    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md col-12 text-center px-5">
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_qt4a6xmc.json"  background="transparent"  speed="1"  style="height: 150px;"  loop autoplay></lottie-player>
                <h5>Cheapest Offers</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md col-12 text-center px-5">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_y3ib5ejh.json"  background="transparent"  speed="1"  style="height: 150px;"  loop autoplay></lottie-player>
                <h5>Every Where</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md col-12 text-center px-5">
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_68oqpp9l.json"  background="transparent"  speed="1"  style="height: 150px;"  loop autoplay></lottie-player>
                <h5>Any Where</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row mt-5">
            <div class="col-md col-12">
                <a class="d-flex align-items-center" href="#">
                    <img class="img-default rounded" src="{% static 'img/1.jpg' %}" width="100%" height="200px">
                    <h3 class="position-absolute ps-5 fw-bold text-white">Popular</br>Destinations</h3>
                </a>
            </div>
            <div class="col-md col-12 mt-3 mt-md-0">
                <a class="d-flex align-items-center" href="#">
                    <img class="img-default rounded" src="{% static 'img/2.jpg' %}" width="100%" height="200px">
                    <h3 class="position-absolute ps-5 fw-bold text-white">Popular</br>Flights</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 col-12">
                <lottie-player class="mt-n-2" src="https://assets5.lottiefiles.com/packages/lf20_af77tbqx.json"  background="transparent"  speed="1"  style=""  loop autoplay></lottie-player>
            </div>
            <div class="col-md-5 col-12 align-self-center mx-md-0 mx-4 mb-5 mb-md-0">
                <h1 class="fw-bold mb-4">Ready for Take Off?</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <button class="btn btn-primary button1 border-none px-4 py-2">Book Now</button>
            </div>
        </div>
    </div>
    <div class="container rounded bg2 mt-5" style="height: 500px;">
        <div class="row h-100 justify-content-between ps-md-5">
            <div class="col-md-5 col-12 text-start text-white align-self-center px-5 order-md-1 order-2">
                <h5 class="with-line" style="transform: translate(0px, 0px);"> IranAir</h5>
                <h1 class="my-3">Flights Are</br>The Most Safe</h1>
                <p class="my-3 pe-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in tortor ex. Mauris sodales vulputate pharetra. </p>
            </div>
            <div class="col-md-5 col-12 align-self-center order-md-2 order-1 mt-n-3 text-center text-md-right">
                <img src="{% static 'img/3.png' %}" class="img1">
            </div>
        </div>
    </div>
    <div class="container my-5 pt-5">
        <div class="row justify-content-around">
            <div class="col-md-3 col-12 mb-md-0 mb-5">
                <h5>Subscribe here to have special offers in your email.</h5>
            </div>
            <div class="col-md-5 col-12 d-flex">
                <div class="form-floating w-75 me-3">
                    <input class="form-control" placeholder="Your Email..." id="subscribe" name="subscribe">
                    <label for="subscribe">Your Email...</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-secondary p-3 px-5">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

        // options
        $(function () {

            var input1 = document.getElementById('input1')
            var browsers1 = document.getElementById('browsers1')
            input1.onfocus = function () {
              browsers1.style.display = 'block';
              input1.style.borderRadius = "5px 5px 0 0";
            };
            for (let option of browsers1.options) {
              option.onclick = function () {
                input1.value = option.value;
                browsers1.style.display = 'none';
                input1.style.borderRadius = "5px";
              }
            };

            input1.oninput = function() {
              currentFocus = -1;
              var text = input1.value.toUpperCase();
              for (let option of browsers1.options) {
                if(option.value.toUpperCase().indexOf(text) > -1){
                  option.style.display = "block";
              }else{
                option.style.display = "none";
                }
              };
            }
            var currentFocus = -1;
            input1.onkeydown = function(e) {
              if(e.keyCode == 40){
                currentFocus++
               addActive(browsers1.options);
              }
              else if(e.keyCode == 38){
                currentFocus--
               addActive(browsers1.options);
              }
              else if(e.keyCode == 13){
                e.preventDefault();
                    if (currentFocus > -1) {
                      /*and simulate a click on the "active" item:*/
                      if (browsers1.options) browsers1.options[currentFocus].click();
                    }
              }
            }

            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("active");
              }
              function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("active");
                }
              }


            var input2 = document.getElementById('input2')
            var browsers2 = document.getElementById('browsers2')
            input2.onfocus = function () {
              browsers2.style.display = 'block';
              input2.style.borderRadius = "5px 5px 0 0";
            };
            for (let option of browsers2.options) {
              option.onclick = function () {
                input2.value = option.value;
                browsers2.style.display = 'none';
                input2.style.borderRadius = "5px";
              }
            };

            input2.oninput = function() {
              currentFocus = -1;
              var text = input2.value.toUpperCase();
              for (let option of browsers2.options) {
                if(option.value.toUpperCase().indexOf(text) > -1){
                  option.style.display = "block";
              }else{
                option.style.display = "none";
                }
              };
            }
            var currentFocus = -1;
            input2.onkeydown = function(e) {
              if(e.keyCode == 40){
                currentFocus++
               addActive(browsers2.options);
              }
              else if(e.keyCode == 38){
                currentFocus--
               addActive(browsers2.options);
              }
              else if(e.keyCode == 13){
                e.preventDefault();
                    if (currentFocus > -1) {
                      /*and simulate a click on the "active" item:*/
                      if (browsers2.options) browsers2.options[currentFocus].click();
                    }
              }
            }

            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("active");
              }
              function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("active");
                }
              }

        });


        $("#OW").click(function() {
            $("#Return_departureTimeCol").hide();
            $("#Return_Date").hide();
            $("#OW").addClass('active');
            $("#RT").removeClass('active');
        });
        $("#RT").click(function() {
            $("#Return_departureTimeCol").show();
            $("#Return_Date").show();
            $("#RT").addClass('active');
            $("#OW").removeClass('active');
        });
        $(function () {
           var bindDatePicker = function() {
                $(".date").datetimepicker({
                format:'YYYY-MM-DD',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                }).find('input:first').on("blur",function () {
                    // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                    // update the format if it's yyyy-mm-dd
                    var date = parseDate($(this).val());
                    if (! isValidDate(date)) {
                        //create date based on momentjs (we have that)
                        date = moment().format('YYYY-MM-DD');
                    }
                    $(this).val(date);
                });
            }
           var isValidDate = function(value, format) {
                format = format || false;
                // lets parse the date to the best of our knowledge
                if (format) {
                    value = parseDate(value);
                }
                var timestamp = Date.parse(value);
                return isNaN(timestamp) == false;
           }
           var parseDate = function(value) {
                var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
                if (m)
                    value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);
                return value;
           }
           bindDatePicker();
         });

        $('#loader').fadeOut();
        $('#showresults').fadeOut();
        // Submit post on submit
        $('#post-form').on('submit', function(event){
            event.preventDefault();
            create_post();
        });
        // AJAX for posting
        function create_post() {
            console.log($('#input1').val());
            $.ajax({
                url : "", // the endpoint
                type : "POST", // http method
                beforeSend: function () {
                    $('#loader').fadeIn();
                    $('#showresults').fadeOut();
                    },
                data : {
                    origin : $('#input1').val(),
                    destination : $('#input2').val(),
                    departureTime : $('#Date').val(),
                    ADTNumber : $('#ADTNumber').val(),
                    CHDNumber : $('#CHDNumber').val(),
                    INFNumber : $('#INFNumber').val(),
                    Cabin : $('#Cabin').val(),
                    return_date : $('#Return_Date').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    $('#loader').fadeOut();
                    $('#showresults').fadeIn();
                    var result = $('<div />').append(json).find('#showresults').html();
                    $('#showresults').html(result);
                    $('#input1').val(''),
                    $('#input2').val(''),
                    $('#Date').val(''),
                    $('#ADTNumber').val(''),
                    $('#CHDNumber').val(''),
                    $('#INFNumber').val(''),
                    $('#Return_Date').val('')
                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };



{% endblock %}