{% extends 'main.html' %}
{% load static %}
{% block title %}Persino{% endblock %}
{% block main %}
    <div class="container align-items-center justify-content-center text-center">
        <h1 class="color1 mt-6">Fly With</br>Cheapest Flight</h1>
        <lottie-player class="mt-n-1" src="https://assets8.lottiefiles.com/packages/lf20_tCIUzD.json"  background="transparent"  speed="1"  style="width: 100%;"  loop  autoplay></lottie-player>
    </div>
    <div class="container px-5">
        <form class="container searchForm_Box p-5" method="POST" id="post-form">
          {% csrf_token %}
          <div class="button-box1 text-end position-absolute">
            <button class="wayButton btn btn-outline-dark active fw-bold" type="button" id="OW">One Way</button>
            <button class="wayButton btn btn-outline-dark fw-bold" type="button" id="RT">Return</button>
          </div>
          <div class="row g-3">
                <div class="col">
                  <div class="form-floating">
                    <input class="form-control" list="originlistOptions" placeholder="Origin..." id="inputOrigin" name="origin">
                    <label for="inputOrigin">Origin</label>
                    <datalist id="originlistOptions">
                        <option>THR</option>
                        <option>ESF</option>
                        <option>BDR</option>
                        <option>RST</option>
                        <option>XXX</option>
                    </datalist>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input class="form-control" list="destinationlistOptions" placeholder="Destination..." id="Destination" name="destination">
                    <label for="Destination">Destination</label>
                    <datalist id="destinationlistOptions">
                        <option>MHD</option>
                        <option>RST</option>
                        <option>SRZ</option>
                        <option>LHJ</option>
                        <option>TEH</option>
                    </datalist>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input class="form-control" id="Date" name="departureTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Departure Date">
                    <label for="Date">Departure Date</label>
                  </div>
                </div>
                <div class="col" id="Return_departureTimeCol" style="display: none;">
                  <div class="form-floating">
                    <input class="form-control" id="Return_Date" name="Return_departureTime" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Return Date" style="display: none;">
                    <label for="Return_Date">Return Date</label>
                  </div>
                </div>
                
          </div>
          <div class="row g-3 mt-3">
            <div class="col">
                <div class="form-floating">
                  <select id="Cabin" class="form-select" name="Cabin">
                    <option>Economy</option>
                    <option>Business</option>
                  </select>
                  <label for="Cabin">Cabin</label>
                </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="number" class="form-control" id="ADTNumber" value="{{ADTNumber}}" name="ADTNumber" placeholder="Adult Number">
                <label for="ADTNumber">Adult Number</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="number" class="form-control" id="CHDNumber" value="{{CHDNumber}}" name="CHDNumber" placeholder="Child Number">
                <label for="CHDNumber">Child Number</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="number" class="form-control" id="INFNumber" value="{{INFNumber}}" name="INFNumber" placeholder="Infant Number">
                <label for="INFNumber">Infant Number</label>
              </div>
            </div>
          </div>
          <button class="btn btn-outline position-absolute searchButton fw-bold me-5 px-4" type="submit">
            <i class="fa fa-search"></i>
            Search for Cheapest
          </button>
          
      </form>
    </div>
    <div id="loader" class="container">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_h7uimaj6.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin: auto;"  loop autoplay></lottie-player>
    </div>
    <div id="showresults" class="container my-5 px-0 pb-5">
          {% if flight_list %}
              {% for data in flight_list %}
                  <form method="POST" action="{% url 'booking_page' FlightNumber=data.FlightNumber %}">
                    {% csrf_token %}
                      <div class="container py-5">
                        <div class="ticket-system">
                          <div class="top">
                          <div class="printer" />
                          </div>
                          <div class="receipts-wrapper py-3">
                              <div class="receipts">
                                <div class="receipt col-8">
                                  <div class="row">
                                      <div class="col">
                                        <h3 class="fw-light mb-3">{{data.origin}}</h3>
                                        <h6 class="text-secondary">Tehran</h6>
                                        <h6 class="text-secondary">{{data.departureDate}}</h6>
                                        <h6 class="text-secondary">{{data.departureTime}}</h6>
                                        
                                        {% if data.return_date %}
                                          <h6 class="color1 mt-3">#Return</h6>
                                          <h6 class="text-secondary">{{data.Return_ArrivalDate}}</h6>
                                          <h6 class="text-secondary">{{data.Return_ArrivalTime}}</h6>
                                        {% endif %}

                                      </div>
                                      <div class="col text-center">
                                        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_d8skfitr.json"  background="transparent"  speed="1"  style="width: 300px; height: 50px;"  loop  autoplay></lottie-player>
                                        
                                        {% if data.return_date %}
                                          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_d8skfitr.json"  background="transparent"  speed="1"  style="width: 300px; height: 50px; transform: rotate(180deg); margin-top: -30px;"  loop  autoplay></lottie-player>
                                        {% endif %}

                                        {% if data.return_date %}
                                          <h5 class="text-secondary my-2">Return Flight</h5>
                                        {% else %}
                                          <h5 class="text-secondary my-2">One Way Flight</h5>
                                        {% endif %}
                                        <img class="mt-4" src="{% static 'IMG/IranAir-Logo.svg' %}" alt="Iran Air Logo" width="120px"/>
                                      </div>
                                      <div class="col text-end">
                                        <h3 class="fw-light mb-3">{{data.destination}}</h3>
                                        <h6 class="text-secondary">Mashhad</h6>
                                        <h6 class="text-secondary">{{data.ArrivalDate}}</h6>
                                        <h6 class="text-secondary">{{data.ArrivalTime}}</h6>
                  
                                        {% if data.return_date %}
                                          <h6 class="color1 mt-3">#Return</h6>
                                          <h6 class="text-secondary">{{data.Return_departureDate}}</h6>
                                          <h6 class="text-secondary">{{data.Return_departureTime}}</h6>
                                        {% endif %}
                                      </div>
                                  </div>
                                    <div class="row mt-4 justify-content-between">
                                      <div class="col align-self-center">
                                        <h6 class="">Flight No.</h6>
                                        <h6 class="text-secondary">{{data.FlightNumber}}</h6>
                                        {% if data.return_date %}
                                          <h6 class="color1 mt-3">#Return</h6>
                                          <h6 class="text-secondary">{{data.Return_FlightNumber}}</h6>
                                        {% endif %}
                                      </div>
                                      <div class="col align-self-center text-end">
                                        <h6 class="">Air Equip Type</h6>
                                        <h6 class="text-secondary">{{data.AirEquipType}}</h6>
                                        {% if data.return_date %}
                                          <h6 class="color1 mt-3">#Return</h6>
                                          <h6 class="text-secondary">{{data.Return_AirEquipType}}</h6>
                                        {% endif %}
                                      </div>
                                    </div>
                                    
                                </div>
                                <div class="receipt col-4 qr-code">
                                  <div class="container text-center p-5">
                                    <div class="row">
                                      <h6 class="text-secondary">Total Price</h6>
                                      <h3 class="color1">{{data.TotalFare_Amount}} {{data.TotalFare_CurrencyCode}}</h3>
                                    </div>
                                    <div class="row mt-5">
                                      <button type="submit" class="bookingBtn p-2"><h5 class="fw-normal">Book/Reserve</h5></button>
                                    </div>
                                    <div class="row mt-2">
                                      <h6><a class="text-secondary">Flight Fare Rules</a></h6>
                                    </div>
                                  </div>
                                    
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      
                  </form>
              {% endfor %}

          {% elif 'None' not in origin or 'None' not in destination %}
              <div class="alert alert-warning" role="alert">
                  Sorry, There is no flight from {{origin}} to {{destination}} on {{departureTime}}.
              </div>
          {% endif %}

    </div>

{% endblock %}
{% block script %}
        $("#OW").click(function() {
            $("#Return_departureTimeCol").hide();
            $("#Return_Date").hide();
            $("#OW").addClass('active');
            $("#RT").removeClass('active');
        });
        $("#RT").click(function() {
            $("#Return_departureTimeCol").show();
            $("#Return_Date").show();
            $("#RT").addClass('active');
            $("#OW").removeClass('active');
        });
        $(function () {
           var bindDatePicker = function() {
                $(".date").datetimepicker({
                format:'YYYY-MM-DD',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                }).find('input:first').on("blur",function () {
                    // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                    // update the format if it's yyyy-mm-dd
                    var date = parseDate($(this).val());
                    if (! isValidDate(date)) {
                        //create date based on momentjs (we have that)
                        date = moment().format('YYYY-MM-DD');
                    }
                    $(this).val(date);
                });
            }
           var isValidDate = function(value, format) {
                format = format || false;
                // lets parse the date to the best of our knowledge
                if (format) {
                    value = parseDate(value);
                }
                var timestamp = Date.parse(value);
                return isNaN(timestamp) == false;
           }
           var parseDate = function(value) {
                var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
                if (m)
                    value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);
                return value;
           }
           bindDatePicker();
         });

        $('#loader').fadeOut();
        $('#showresults').fadeOut();
        // Submit post on submit
        $('#post-form').on('submit', function(event){
            event.preventDefault();
            create_post();
        });
        // AJAX for posting
        function create_post() {
            $.ajax({
                url : "", // the endpoint
                type : "POST", // http method
                beforeSend: function () {
                    $('#loader').fadeIn();
                    $('#showresults').fadeOut();
                    },
                data : {
                    origin : $("#inputOrigin").val(),
                    destination : $('#Destination').val(),
                    departureTime : $('#Date').val(),
                    ADTNumber : $('#ADTNumber').val(),
                    CHDNumber : $('#CHDNumber').val(),
                    INFNumber : $('#INFNumber').val(),
                    Cabin : $('#Cabin').val(),
                    return_date : $('#Return_Date').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    $('#loader').fadeOut();
                    $('#showresults').fadeIn();
                    var result = $('<div />').append(json).find('#showresults').html();
                    $('#showresults').html(result);
                    $("#inputOrigin").val(''),
                    $('#Destination').val(''),
                    $('#Date').val(''),
                    $('#ADTNumber').val(''),
                    $('#CHDNumber').val(''),
                    $('#INFNumber').val(''),
                    $('#Return_Date').val('')
                },
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };
{% endblock %}