{% extends 'main.html' %}
{% load static %}
{% block title %}Operation Two{% endblock %}
{% block main %}

  <form class="container 100vh" method="POST">
      {% csrf_token %}
      <div class="row g-3 mt-3">
          <div class="col">
              <button class="btn btn-outline-danger active" type="button" id="OW">One Way</button>
              <button class="btn btn-outline-danger" type="button" id="RT">Return</button>
          </div>
      </div>
      <div class="row g-3 mt-5">
        <div class="col">
          <label for="inputOrigin" class="form-label">Origin</label>
          <select id="inputOrigin" class="form-select" name="origin">
            <option value="None" disabled selected>Select your origin</option>
            <option>THR</option>
            <option>ESF</option>
            <option>BDR</option>
            <option>RST</option>
            <option>XXX</option>
          </select>
        </div>
        <div class="col">
          <label for="Destination" class="form-label">Destination</label>
          <select id="Destination" class="form-select" name="destination">
            <option  value="None" disabled selected>Select your destination</option>
            <option>MHD</option>
            <option>RST</option>
            <option>SRZ</option>
            <option>LHJ</option>
            <option>TEH</option>
          </select>
        </div>
      </div>
      <div class="row g-3 mt-3">
        <div class="col-6">
          <label for="Date" class="form-label">Date</label>
          <input type="date" class="form-control" id="Date" value="{{departureTime}}" name="departureTime">

          <label for="Return_Date" class="form-label" id="Return_departureTimeLable" style="display: none;">Return Date</label>
          <input type="date" class="form-control" id="Return_Date" name="Return_departureTime" style="display: none;">

          <label for="Cabin" class="form-label">Cabin</label>
          <select id="Cabin" class="form-select" name="Cabin">
            <option value="None" disabled selected>Select your Cabin</option>
            <option>Economy</option>
            <option>Business</option>
          </select>
        </div>
        <div class="col-3">

        </div>
        <div class="col-2">
          <label for="ADTNumber" class="form-label">Number of Adults(Over 12 years)</label>
          <input type="number" class="form-control" id="ADTNumber" value="{{ADTNumber}}" name="ADTNumber">
        </div>
        <div class="col-2">
          <label for="CHDNumber" class="form-label">Number of Children(2 to 12 years)</label>
          <input type="number" class="form-control" id="CHDNumber" value="{{CHDNumber}}" name="CHDNumber">
        </div>
        <div class="col-2">
          <label for="INFNumber" class="form-label">Number of Babies(Under 12 years)</label>
          <input type="number" class="form-control" id="INFNumber" value="{{INFNumber}}" name="INFNumber">
        </div>
      </div>
      <div class="row g-3 mt-3">
          <div class="col">
              <button class="btn btn-primary" type="submit">Search</button>
              <input type="number" name="selected_operation_number" id="selected_operation_number" value="2" hidden/>
          </div>

      </div>
  </form>
  <div class="container mt-5">
      {% if data_list %}
          <h3>Results: </h3>
          {% for data in data_list %}
              <form method="POST" action="{% url 'operation_three' FlightNumber=data.FlightNumber %}">
                {% csrf_token %}
                  <div class="alert alert-success d-flex justify-content-between align-items-center" role="alert">
                      <p class="m-0 p-0"><b>Origin: </b> {{data.origin}},</p>
                      <p class="m-0 p-0"><b> Destination: </b> {{data.destination}},</p>
                      <p class="m-0 p-0"><b> Departure Date: </b> {{data.departureDate}},</p>
                      <p class="m-0 p-0"><b> Departure Time: </b> {{data.departureTime}},</p>
                      <p class="m-0 p-0"><b> Arrival Date: </b> {{data.ArrivalDate}},</p>
                      <p class="m-0 p-0"><b> Arrival Time: </b> {{data.ArrivalTime}},</p>
                      <p class="m-0 p-0"><b> Duration: </b> {{data.Duration}},</p>
                      <p class="m-0 p-0"><b> Flight Number: </b> {{data.FlightNumber}},</p>
                      <p class="m-0 p-0"><b> Air Equip Type: </b> {{data.AirEquipType}},</p>
                      <a class="btn btn-warning" data-bs-toggle="modal" href="#modal{{data.FlightNumber}}" role="button">Info</a>
                  </div>
                  <div class="modal fade" id="modal{{data.FlightNumber}}" aria-hidden="true" aria-labelledby="modal{{data.FlightNumber}}Label" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modal{{data.FlightNumber}}Label">{{data.origin}} to {{data.destination}}</h5>
                          <h6 class="text-danger ms-5">{{data.TotalFare_Amount}}{{data.TotalFare_CurrencyCode}}</h6>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row my-3">
                              <div class="col">
                                  <p>Departure Date: {{data.departureDate}}</p>
                                  <p>Departure Time: {{data.departureTime}}</p>
                              </div>
                              <div class="col">
                                  <p>Arrival Date: {{data.ArrivalDate}}</p>
                                  <p>Arrival Time: {{data.ArrivalTime}}</p>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col"><b>Passengers</b></div>
                              <div class="col">Adult: {{ADTNumber}}</div>
                              <div class="col">Child: {{CHDNumber}}</div>
                              <div class="col">Baby: {{INFNumber}}</div>
                            </div>
                            <div class="row my-3">
                              <div class="col"><b>Base Prices:</b></div>
                              {% for passenger in data.PTC_FBs %}
                                <div class="col">{{passenger.PassengerTypeQuantity_Code}}: {{passenger.PassengerFare_BaseFare_Amount}}{{passenger.PassengerFare_BaseFare_CurrencyCode}} * {{passenger.PassengerTypeQuantity_Quantity}}</div>
                              {% endfor %}
                            </div>
                            <div class="row my-3">
                                <h6>Taxes:</h6>
                                {% for passenger in data.PTC_FBs %}
                                  <div class="col-3"><b>{{passenger.PassengerTypeQuantity_Code}} * {{passenger.PassengerTypeQuantity_Quantity}}</b></div>
                                  {% for tax in passenger.Taxes %}
                                      <div class="col-3">{{tax.TaxName}}: {{tax.TaxText}}{{tax.Tax_CurrencyCode}}</div>
                                  {% endfor %}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div name="selected_FN" id="selected_FN" >{{data.FlightNumber}}</div>
                            
                            <button type="submit" class="btn btn-outline-danger">Go to Operation Three</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>

          {% endfor %}

      {% elif origin %}
          <div class="alert alert-success" role="alert">
              Sorry, No flights available from {{origin}} to {{destination}}.
          </div>
      {% endif %}

  </div>
    {% block script %}
        $("#OW").click(function() {
            $("#Return_departureTimeLable").hide();
            $("#Return_Date").hide();
            $("#OW").addClass('active');
            $("#RT").removeClass('active');
        });
        $("#RT").click(function() {
            $("#Return_departureTimeLable").show();
            $("#Return_Date").show();
            $("#RT").addClass('active');
            $("#OW").removeClass('active');
        });
    {% endblock %}
{% endblock %}