{% extends 'main.html' %}
{% load static %}
{% block title %}Operation Three{% endblock %}
{% block main %}
<div class="vw-100 vh-100 justify-content-center align-items-center">
  <div class="container progress-box d-flex justify-content-center align-items-center p-4">
      <a href="{% url 'operation_one' %}">
          <span class="material-icons-round fs-1 text-success me-2">network_ping</span>
      </a>
      <label><a href="{% url 'operation_one' %}">Ping</a></label>
      <span class="linear-gradient activated mx-3"></span>
      <a href="{% url 'operation_two' %}">
          <span class="material-icons-round fs-1 text-success me-2">travel_explore</span>
      </a>
      <label><a href="{% url 'operation_two' %}">Low Fare Search</a></label>
      <span class="linear-gradient mx-3 activated"></span>
      <span class="material-icons-round fs-1 text-danger me-2">checklist_rtl</span>
      <label>Fare Rule</label>
      <span class="linear-gradient mx-3 gray active"></span>
      <span class="material-icons-round fs-1 activate me-2 gray">assignment_ind</span>
      <label class="gray">Book & Ticket</label>
      <span class="linear-gradient mx-3 gray"></span>
      <span class="material-icons fs-1 activate me-2 gray">airplane_ticket</span>
      <label class="gray">Read Reservation</label>
  </div>
  <div class="container box1 p-5 mt-5">
    <div class="row">
      <div class="col">
        API Status: {{Status}}</br>
        FlightNumber: {{FlightNumber}}</br>
        ResBookDesigCode: {{ResBookDesigCode}}</br>
        DepartureDateTime: {{DepartureDateTime}}</br>
        ArrivalDateTime: {{ArrivalDateTime}}</br>
        Duration: {{Duration}}</br>
        StopQuantity: {{StopQuantity}}</br>
        RPH: {{RPH}}</br>
        DepartureAirport: {{DepartureAirport}}</br>
        ArrivalAirport: {{ArrivalAirport}}</br>
        OperatingAirline: {{OperatingAirline}}</br>
        AirEquipType: {{AirEquipType}}</br>
        ResBookDesigCode: {{ResBookDesigCode}}</br>
        ResBookDesigQuantity: {{ResBookDesigQuantity}}</br>
        FareRuleText: {{FareRuleText}}</br>
        FlightRefNumberRPH: {{FlightRefNumberRPH}}</br>
      </div>
    </div>
    <div class="row">
      <div class="col mt-5 pt-5">
        <form method="POST" action="{% url 'operation_four' %}">
          {% csrf_token %}
            <a href="{% url 'operation_two' %}" class="btn btn-outline-secondary">Back</a>
            <button type="submit" class="btn btn-outline-danger">Go To Operation Four</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}