{% extends 'main.html' %}
{% load static %}
{% block title %}Operation Two{% endblock %}
{% block main %}
    <div class="vw-100 vh-100 justify-content-center align-items-center">
        <div class="container progress-box d-flex justify-content-center align-items-center p-4">
            <a href="{% url 'operation_one' %}">
                <span class="material-icons-round fs-1 text-success me-2">network_ping</span>
            </a>
            <label><a href="{% url 'operation_one' %}">Ping</a></label>
            <span class="linear-gradient activated mx-3"></span>
            <a href="{% url 'operation_two' %}">
                <span class="material-icons-round fs-1 text-danger me-2">travel_explore</span>
            </a>
            <label><a href="{% url 'operation_two' %}">Low Fare Search</a></label>
            <span class="linear-gradient mx-3 active"></span>
            <span class="material-icons-round fs-1 activate me-2 gray">checklist_rtl</span>
            <label class="gray">Fare Rule</label>
            <span class="linear-gradient mx-3 gray"></span>
            <span class="material-icons-round fs-1 activate me-2 gray">assignment_ind</span>
            <label class="gray">Book & Ticket</label>
            <span class="linear-gradient mx-3 gray"></span>
            <span class="material-icons fs-1 activate me-2 gray">airplane_ticket</span>
            <label class="gray">Read Reservation</label>
        </div>
        <form class="container box1 p-5 mt-5" method="POST">
          {% csrf_token %}
          <div class="row g-3">
              <div class="col">
                  <button class="btn btn-outline-dark active" type="button" id="OW">One Way</button>
                  <button class="btn btn-outline-dark" type="button" id="RT">Return</button>
              </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col">
              <label for="inputOrigin" class="form-label">Origin</label>
              <select id="inputOrigin" class="form-select" name="origin">
                <option value="None" disabled selected>Choose Origin...</option>
                <option>THR</option>
                <option>ESF</option>
                <option>BDR</option>
                <option>RST</option>
                <option>XXX</option>
              </select>
            </div>
            <div class="col">
              <label for="Destination" class="form-label">Destination</label>
              <select id="Destination" class="form-select" name="destination">
                <option  value="None" disabled selected>Choose Destination...</option>
                <option>MHD</option>
                <option>RST</option>
                <option>SRZ</option>
                <option>LHJ</option>
                <option>TEH</option>
              </select>
            </div>
            <div class="col">
              <label for="Date" class="form-label">Departure Time</label>
              <input type="date" class="form-control" id="Date" value="{{departureTime}}" name="departureTime">
            </div>
            <div class="col">
                <label for="Return_Date" class="form-label" id="Return_departureTimeLable" style="display: none;">Return Date</label>
                <input type="date" class="form-control" id="Return_Date" name="Return_departureTime" style="display: none;">
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col">
                  <label for="Cabin" class="form-label">Cabin</label>
                  <select id="Cabin" class="form-select" name="Cabin">
                    <option value="None" disabled selected>Choose Cabin...</option>
                    <option>Economy</option>
                    <option>Business</option>
                  </select>
            </div>
            <div class="col">
              <label for="ADTNumber" class="form-label">Adult Number</label>
              <input type="number" class="form-control" id="ADTNumber" value="{{ADTNumber}}" name="ADTNumber">
            </div>
            <div class="col">
              <label for="CHDNumber" class="form-label">Child Number</label>
              <input type="number" class="form-control" id="CHDNumber" value="{{CHDNumber}}" name="CHDNumber">
            </div>
            <div class="col">
              <label for="INFNumber" class="form-label">Infant Number</label>
              <input type="number" class="form-control" id="INFNumber" value="{{INFNumber}}" name="INFNumber">
            </div>
          </div>
          <div class="row g-3 mt-5">
              <div class="col">
                  <a href="{% url 'operation_one' %}" class="btn btn-outline-secondary">Back</a>
                  <button class="btn btn-success px-5" type="submit">Search</button>
              </div>

          </div>
      </form>
        <div class="container my-5 px-0 pb-5">
          {% if flight_list %}
              {% for data in flight_list %}
                  <form method="POST" action="{% url 'operation_three' FlightNumber=data.FlightNumber %}">
                    {% csrf_token %}
                      <div class="container alert alert-success justify-content-between align-items-center p-5" role="alert">
                          <div class="row">
                              <div class="col">
                                  {% if data.return_date %}
                                    <h4 class="d-flex align-items-center text-black mb-4">
                                        <span class="material-icons-round fs-1">connecting_airports</span>
                                        Return Flight
                                    </h4>
                                  {% else %}

                                    <h4 class="d-flex align-items-center text-black mb-4">
                                        <span class="material-icons-round fs-1">airplanemode_active</span>
                                        One Way Flight
                                    </h4>
                                  {% endif %}
                                  <p>From <b>{{data.origin}}</b> to <b>{{data.destination}}</b> on <b>{{data.departureDate}}</b> and <b>{{data.departureTime}}</b>.</p>
                                  <p>Air Equip Type <b>{{data.AirEquipType}}</b> with <b>{{data.FlightNumber}}</b> FlightNumber.</p>
                              </div>
                          </div>
                          {% if data.return_date %}
                            <div class="row">
                              <div class="col">
                                  <p>Return Flight from <b>{{data.Return_origin}}</b> to <b>{{data.Return_destination}}</b> on <b>{{data.Return_departureDate}}</b> and <b>{{data.Return_departureTime}}</b>.
                                  </p>
                                  <p>Air Equip Type <b>{{data.Return_AirEquipType}}</b> with <b>{{data.Return_FlightNumber}}</b> Flight Number.
                                  </p>
                              </div>
                            </div>
                          {% endif %}
                          <div class="row">
                              <div class="col">
                                  <a class="btn btn-warning" data-bs-toggle="modal" href="#modal{{data.FlightNumber}}" role="button">More info and reserve</a>
                              </div>
                          </div>

                      </div>
                      <div class="modal fade" id="modal{{data.FlightNumber}}" aria-hidden="true" aria-labelledby="modal{{data.FlightNumber}}Label" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal{{data.FlightNumber}}Label">{{data.origin}} to {{data.destination}}</h5>
                              <h6 class="text-danger ms-5">{{data.TotalFare_Amount}}{{data.TotalFare_CurrencyCode}}</h6>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row my-3">
                                  <div class="col-2"><b>Go</b></div>
                                  <div class="col">
                                      <p>Departure Date: {{data.departureDate}}</p>
                                      <p>DepartureTime: {{data.departureTime}}</p>
                                  </div>
                                  <div class="col">
                                      <p>Arrival Date: {{data.ArrivalDate}}</p>
                                      <p>Arrival Time: {{data.ArrivalTime}}</p>
                                  </div>
                                </div>
                                {% if data.return_date %}
                                    <div class="row my-3">
                                        <div class="col-2"><b>Return</b></div>
                                      <div class="col">
                                          <p>Return Departure Date: {{data.Return_departureDate}}</p>
                                          <p>Return Departure Time: {{data.Return_departureTime}}</p>
                                      </div>
                                      <div class="col">
                                          <p>Return Arrival Date: {{data.Return_ArrivalDate}}</p>
                                          <p>Return Arrival Time: {{data.Return_ArrivalTime}}</p>
                                      </div>
                                    </div>
                                {% endif %}
                                <div class="row my-3">
                                  <div class="col"><b>Passengers</b></div>
                                  <div class="col">Adults: {{ADTNumber}}</div>
                                  <div class="col">Children: {{CHDNumber}}</div>
                                  <div class="col">Infants: {{INFNumber}}</div>
                                </div>
                                <div class="row my-3">
                                  <div class="col"><b>Base Price:</b></div>
                                  {% for passenger in data.PTC_FBs %}
                                    <div class="col">{{passenger.PassengerTypeQuantity_Code}}: {{passenger.PassengerFare_BaseFare_Amount}}{{passenger.PassengerFare_BaseFare_CurrencyCode}} * {{passenger.PassengerTypeQuantity_Quantity}}</div>
                                  {% endfor %}
                                </div>
                                <div class="row my-3">
                                    <div class="col-12"><b>Taxes:</b></div>
                                    {% for passenger in data.PTC_FBs %}
                                    <row>
                                        <div class="col"><b>{{passenger.PassengerTypeQuantity_Code}} * {{passenger.PassengerTypeQuantity_Quantity}}</b></div>
                                        {% for tax in passenger.Taxes %}
                                          <div class="col">{{tax.TaxName}}: {{tax.TaxText}}{{tax.Tax_CurrencyCode}}</div>
                                        {% endfor %}
                                    </row>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-danger">Next Operation (Booking)</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </form>
              {% endfor %}

          {% elif 'None' not in origin or 'None' not in destination %}
              <div class="alert alert-warning" role="alert">
                  Sorry, There is no flight from {{origin}} to {{destination}} on {{departureTime}}.
              </div>
          {% endif %}

        </div>
    </div>
{% endblock %}
{% block script %}
        $("#OW").click(function() {
            $("#Return_departureTimeLable").hide();
            $("#Return_Date").hide();
            $("#OW").addClass('active');
            $("#RT").removeClass('active');
        });
        $("#RT").click(function() {
            $("#Return_departureTimeLable").show();
            $("#Return_Date").show();
            $("#RT").addClass('active');
            $("#OW").removeClass('active');
        });
{% endblock %}