United Arab Emirates
DWC (Dubai)
DXB (Dubai)
Afghanistan
KBL (Kabul)
Armenia
EVN (Yerevan)
Austria
VIE (Vienna)
Azerbaijan
GYD (Baku)
Bangladesh
DAC (Dhaka)
Bulgaria
VAR (Varna)
Bahrain
BAH (Muharraq)
Belarus
MSQ (Minsk)
Switzerland
GVA (Geneva)
China
CAN (Guangzhou)
PEK (Beijing)
Cyprus
LCA (Larnaca)
Germany
CGN (Cologne)
FRA (Frankfurt)
HAM (Hamburg)
MUC (Munich)
DUS (Dusseldorf)
Denmark
CPH (Copenhagen)
Spain
BCN (Barcelona)
MAD (Madrid)
France
CDG (Paris)
ORY (Paris)
United Kingdom
LHR (London)
MAN (Manchester)
Georgia
TBS (Tbilisi)
Greece
ATH (Athens)
Indonesia
DPS (Denpasar Bali)
India
BOM (Mumbai)
DEL (Delhi)
GOI (Goa)
JAI (Jaipur)
AMD (Ahmedabad)
Iraq
BGW (Baghdad)
EBL (Erbil)
ISU (Sulaymaniyah)
NJF (Najaf)
Iran
IKA (Tehran)
THR (Tehran)
MHD (Mashhad)
ABD (Abadan)
ACP (Maragheh)
ADU (Ardabil)
AEU (Abu Musa Island)
AFZ (Sabzevar)
AJK (Araak)
AWZ (Ahwaz)
AZD (Yazd)
BDH (Bandar Lengeh)
BJB (Bojnurd)
BND (Bandar Abbas)
BUZ (Bushehr)
CQD (Shahre Kord)
DEF (Dezful)
GBT (Gorgan)
GCH (Gachsaran)
GSM (Gheshm Island)
HDM (Hamadan)
IFN (Esfahan)
IHR (Iranshahr)
IIL (Ilam)
JAR (Jahrom)
JWN (Zanjan)
KER (Kerman)
KHD (Khorramabad)
KHY (Khoy)
KIH (Kish Island)
KLM (Kalaleh)
KSH (Kermanshah)
LFM (Lamerd)
LRR (Lar)
NSH (Now Shahr)
OMH (Urumiyeh)
PFQ (Parsabad)
PGU (Asaloyeh)
RAS (Rasht)
RUD (Shahrud)
RZR (Ramsar)
SDG (Sanandaj)
SNX (Semnan)
SRY (Sari)
SYZ (Shiraz)
TBZ (Tabriz)
XBJ (Birjand)
ZAH (Zahedan)
ZBR (Chah Bahar)
IMQ (Maku)
JSK (Jask)
PYK (Karaj)
SYJ (Sirjan)
ACZ (Zabol)
AKW (Aghajari)
BXR (Bam)
CKT (Sarakhs)
FAZ (Fasa)
GZW (Ghazvin)
HDR (Havadarya)
IAQ (Bahregan)
IFH (Hesa)
JYR (Jiroft)
KHA (Khaneh)
KHK (Khark Island)
LVP (Lavan Island)
OMI (Omidiyeh)
RJN (Rafsanjan)
TCX (Tabas)
KNR (Kangan)
Italy
FCO (Rome)
MXP (Milan)
RMI (Rimini)
Jordan
AMM (Amman)
Japan
NRT (Narita)
South Korea
ICN (Seoul)
Kuwait
KWI (Kuwait)
Lebanon
BEY (Beirut)
Morocco
RAK (Marrakech)
Myanmar
RGN (Yangon)
Malaysia
KUL (Kuala Lumpur)
Netherlands
AMS (Amsterdam)
Oman
MCT (Muscat)
Pakistan
KHI (Karachi)
LHE (Lahore)
Qatar
DOH (Doha)
Serbia
BEG (Belgrade)
Russian Federation
LED (St Petersburg)
SVO (Moscow)
VKO (Moscow)
Saudi Arabia
DMM (Dammam)
JED (Jeddah)
MED (Madinah)
RUH (Riyadh)
Sweden
NYO (Stockholm)
ARN (Stockholm)
GOT (Goteborg)
Singapore
SIN (Singapore)
Syrian Arab Republic
DAM (Damascus)
Thailand
BKK (Bangkok)
HKT (Phuket)
UTP (U Tapao)
Tunisia
TUN (Tunis)
Turkey
ADB (Izmir)
DNZ (Denizli)
ESB (Ankara)
ISE (Isparta)
SAW (Istanbul)
IST (Istanbul)
KYA (Konya)
AYT (Antalya)
GZP (Gazipasa)
Uzbekistan
KSQ (Karshi)
TAS (Tashkent)
Venezuela, Bolivarian Republic of
CCS (Caracas)