<datalist id="browsers1">
    <option class="text-muted fw-bold border-bottom" value="" disabled>United Arab Emirates</option>
    <option value="DWC">DWC (Dubai)</option>
    <option value="DXB">DXB (Dubai)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Afghanistan</option>
    <option value="KBL">KBL (Kabul)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Armenia</option>
    <option value="EVN">EVN (Yerevan)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Austria</option>
    <option value="VIE">VIE (Vienna)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Azerbaijan</option>
    <option value="GYD">GYD (Baku)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Bangladesh</option>
    <option value="DAC">DAC (Dhaka)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Bulgaria</option>
    <option value="VAR">VAR (Varna)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Bahrain</option>
    <option value="BAH">BAH (Muharraq)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Belarus</option>
    <option value="MSQ">MSQ (Minsk)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Switzerland</option>
    <option value="GVA">GVA (Geneva)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>China</option>
    <option value="CAN">CAN (Guangzhou)</option>
    <option value="PEK">PEK (Beijing)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Cyprus</option>
    <option value="LCA">LCA (Larnaca)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Germany</option>
    <option value="CGN">CGN (Cologne)</option>
    <option value="FRA">FRA (Frankfurt)</option>
    <option value="HAM">HAM (Hamburg)</option>
    <option value="MUC">MUC (Munich)</option>
    <option value="DUS">DUS (Dusseldorf)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Denmark</option>
    <option value="CPH">CPH (Copenhagen)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Spain</option>
    <option value="BCN">BCN (Barcelona)</option>
    <option value="MAD">MAD (Madrid)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>France</option>
    <option value="CDG">CDG (Paris)</option>
    <option value="ORY">ORY (Paris)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>United Kingdom</option>
    <option value="LHR">LHR (London)</option>
    <option value="MAN">MAN (Manchester)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Georgia</option>
    <option value="TBS">TBS (Tbilisi)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Greece</option>
    <option value="ATH">ATH (Athens)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Indonesia</option>
    <option value="DPS">DPS (Denpasar Bali)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>India</option>
    <option value="BOM">BOM (Mumbai)</option>
    <option value="DEL">DEL (Delhi)</option>
    <option value="GOI">GOI (Goa)</option>
    <option value="JAI">JAI (Jaipur)</option>
    <option value="AMD">AMD (Ahmedabad)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Iraq</option>
    <option value="BGW">BGW (Baghdad)</option>
    <option value="EBL">EBL (Erbil)</option>
    <option value="ISU">ISU (Sulaymaniyah)</option>
    <option value="NJF">NJF (Najaf)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Iran</option>
    <option value="IKA">IKA (Tehran)</option>
    <option value="THR">THR (Tehran)</option>
    <option value="MHD">MHD (Mashhad)</option>
    <option value="ABD">ABD (Abadan)</option>
    <option value="ACP">ACP (Maragheh)</option>
    <option value="ADU">ADU (Ardabil)</option>
    <option value="AEU">AEU (Abu Musa Island)</option>
    <option value="AFZ">AFZ (Sabzevar)</option>
    <option value="AJK">AJK (Araak)</option>
    <option value="AWZ">AWZ (Ahwaz)</option>
    <option value="AZD">AZD (Yazd)</option>
    <option value="BDH">BDH (Bandar Lengeh)</option>
    <option value="BJB">BJB (Bojnurd)</option>
    <option value="BND">BND (Bandar Abbas)</option>
    <option value="BUZ">BUZ (Bushehr)</option>
    <option value="CQD">CQD (Shahre Kord)</option>
    <option value="DEF">DEF (Dezful)</option>
    <option value="GBT">GBT (Gorgan)</option>
    <option value="GCH">GCH (Gachsaran)</option>
    <option value="GSM">GSM (Gheshm Island)</option>
    <option value="HDM">HDM (Hamadan)</option>
    <option value="IFN">IFN (Esfahan)</option>
    <option value="IHR">IHR (Iranshahr)</option>
    <option value="IIL">IIL (Ilam)</option>
    <option value="JAR">JAR (Jahrom)</option>
    <option value="JWN">JWN (Zanjan)</option>
    <option value="KER">KER (Kerman)</option>
    <option value="KHD">KHD (Khorramabad)</option>
    <option value="KHY">KHY (Khoy)</option>
    <option value="KIH">KIH (Kish Island)</option>
    <option value="KLM">KLM (Kalaleh)</option>
    <option value="KSH">KSH (Kermanshah)</option>
    <option value="LFM">LFM (Lamerd)</option>
    <option value="LRR">LRR (Lar)</option>
    <option value="NSH">NSH (Now Shahr)</option>
    <option value="OMH">OMH (Urumiyeh)</option>
    <option value="PFQ">PFQ (Parsabad)</option>
    <option value="PGU">PGU (Asaloyeh)</option>
    <option value="RAS">RAS (Rasht)</option>
    <option value="RUD">RUD (Shahrud)</option>
    <option value="RZR">RZR (Ramsar)</option>
    <option value="SDG">SDG (Sanandaj)</option>
    <option value="SNX">SNX (Semnan)</option>
    <option value="SRY">SRY (Sari)</option>
    <option value="SYZ">SYZ (Shiraz)</option>
    <option value="TBZ">TBZ (Tabriz)</option>
    <option value="XBJ">XBJ (Birjand)</option>
    <option value="ZAH">ZAH (Zahedan)</option>
    <option value="ZBR">ZBR (Chah Bahar)</option>
    <option value="IMQ">IMQ (Maku)</option>
    <option value="JSK">JSK (Jask)</option>
    <option value="PYK">PYK (Karaj)</option>
    <option value="SYJ">SYJ (Sirjan)</option>
    <option value="ACZ">ACZ (Zabol)</option>
    <option value="AKW">AKW (Aghajari)</option>
    <option value="BXR">BXR (Bam)</option>
    <option value="CKT">CKT (Sarakhs)</option>
    <option value="FAZ">FAZ (Fasa)</option>
    <option value="GZW">GZW (Ghazvin)</option>
    <option value="HDR">HDR (Havadarya)</option>
    <option value="IAQ">IAQ (Bahregan)</option>
    <option value="IFH">IFH (Hesa)</option>
    <option value="JYR">JYR (Jiroft)</option>
    <option value="KHA">KHA (Khaneh)</option>
    <option value="KHK">KHK (Khark Island)</option>
    <option value="LVP">LVP (Lavan Island)</option>
    <option value="OMI">OMI (Omidiyeh)</option>
    <option value="RJN">RJN (Rafsanjan)</option>
    <option value="TCX">TCX (Tabas)</option>
    <option value="KNR">KNR (Kangan)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Italy</option>
    <option value="FCO">FCO (Rome)</option>
    <option value="MXP">MXP (Milan)</option>
    <option value="RMI">RMI (Rimini)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Jordan</option>
    <option value="AMM">AMM (Amman)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Japan</option>
    <option value="NRT">NRT (Narita)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>South Korea</option>
    <option value="ICN">ICN (Seoul)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Kuwait</option>
    <option value="KWI">KWI (Kuwait)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Lebanon</option>
    <option value="BEY">BEY (Beirut)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Morocco</option>
    <option value="RAK">RAK (Marrakech)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Myanmar</option>
    <option value="RGN">RGN (Yangon)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Malaysia</option>
    <option value="KUL">KUL (Kuala Lumpur)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Netherlands</option>
    <option value="AMS">AMS (Amsterdam)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Oman</option>
    <option value="MCT">MCT (Muscat)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Pakistan</option>
    <option value="KHI">KHI (Karachi)</option>
    <option value="LHE">LHE (Lahore)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Qatar</option>
    <option value="DOH">DOH (Doha)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Serbia</option>
    <option value="BEG">BEG (Belgrade)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Russian Federation</option>
    <option value="LED">LED (St Petersburg)</option>
    <option value="SVO">SVO (Moscow)</option>
    <option value="VKO">VKO (Moscow)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Saudi Arabia</option>
    <option value="DMM">DMM (Dammam)</option>
    <option value="JED">JED (Jeddah)</option>
    <option value="MED">MED (Madinah)</option>
    <option value="RUH">RUH (Riyadh)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Sweden</option>
    <option value="NYO">NYO (Stockholm)</option>
    <option value="ARN">ARN (Stockholm)</option>
    <option value="GOT">GOT (Goteborg)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Singapore</option>
    <option value="SIN">SIN (Singapore)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Syrian Arab Republic</option>
    <option value="DAM">DAM (Damascus)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Thailand</option>
    <option value="BKK">BKK (Bangkok)</option>
    <option value="HKT">HKT (Phuket)</option>
    <option value="UTP">UTP (U Tapao)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Tunisia</option>
    <option value="TUN">TUN (Tunis)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Turkey</option>
    <option value="ADB">ADB (Izmir)</option>
    <option value="DNZ">DNZ (Denizli)</option>
    <option value="ESB">ESB (Ankara)</option>
    <option value="ISE">ISE (Isparta)</option>
    <option value="SAW">SAW (Istanbul)</option>
    <option value="IST">IST (Istanbul)</option>
    <option value="KYA">KYA (Konya)</option>
    <option value="AYT">AYT (Antalya)</option>
    <option value="GZP">GZP (Gazipasa)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Uzbekistan</option>
    <option value="KSQ">KSQ (Karshi)</option>
    <option value="TAS">TAS (Tashkent)</option>
    <option class="text-muted fw-bold border-bottom mt-2" value="" disabled>Venezuela, Bolivarian Republic of</option>
    <option value="CCS">CCS (Caracas)</option>
</datalist>