{% extends 'main.html' %}
{% load static %}
{% block title %}Read Reservation{% endblock %}
{% block main %}

    <div class="container progress-box d-flex justify-content-center align-items-center p-4">
        <a href="{% url 'home_page' %}">
            <span class="material-icons-round fs-1 text-success me-2">travel_explore</span>
        </a>
        <label><a href="{% url 'home_page' %}">Low Fare Search</a></label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons-round fs-1 text-success me-2">assignment_ind</span>
        <label>Book & Ticket</label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons fs-1 me-2 text-success">airplane_ticket</span>
        <label>Read Reservation</label>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 box4 d-flex justify-content-center align-items-center mt-5">
                <div class="text-center">
                    <h4>Dear {{user.first_name}}!</h4>
                    <h6>Have a good trip</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lottie-player class="profilePic" src="https://assets4.lottiefiles.com/packages/lf20_gkuioes4.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
    <div class="container bg-white p-5 rounded">
        <!-- Ticket Info -->
        <div class="row justify-content-between">
            <div class="col-3 align-self-center">
                <div class="d-flex">
                    <div>
                        <span class="text-muted">From</span>
                        <h1 class="fw-bold">TEH</h1>
                        <h6 class="text-muted">Tehran</h6>
                    </div>
                    <div class="d-flex align-items-center mx-4"><i class="bi bi-arrow-right fs-1"></i></div>
                    <div>
                        <span class="text-muted">To</span>
                        <h1 class="fw-bold">MHD</h1>
                        <h6 class="text-muted">Mashhad</h6>
                    </div>
                </div></div>
            <div class="col-3 align-self-center">
                <img src="{% static 'IMG/IranAir-Logo.svg' %}" width="200px">
            </div>
            <div class="col-3 align-self-center">
                <div class="">
                    <span class="">Total Fare</span>
                    <h3 class="color1">5874 RUB</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                <div class="mt-5">
                    <span class="text-muted">Departure Date & Time</span>
                    <h6>2022/09/15 - 15:30</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Arrival Date & Time</span>
                    <h6>2022/09/15 - 18:30</h6>
                </div>
                <div class="mt-5">
                    <span class="text-muted">Departure Airport</span>
                    <h6>Imam Khomeini Airport</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Arrival Airport</span>
                    <h6>Imam Khomeini Airport 2</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="mt-5">
                    <span class="text-muted">Flight Number</span>
                    <h6>FA34D8</h6>
                </div>
                <div class="mt-5">
                    <span class="text-muted">Air Equip Type</span>
                    <h6>A319</h6>
                </div>
                <div class="mt-5">
                    <span class="text-muted">Company Name</span>
                    <h5>IranAir</h5>
                    <h6>HOMARES OTA</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="mt-5">
                    <span class="text-muted">Booking ID</span>
                    <h3>Y37MJ4</h3>
                </div>
                <div class="mt-4">
                    <span class="text-muted">Adults</span>
                    <h6>1</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Children</span>
                    <h6>1</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Infants</span>
                    <h6>1</h6>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <div class="row my-5">
            <div class="col-3">
                <h4 class="text-muted" style="margin-bottom: -12px;">Passengers Info</h4>
            </div>
            <div class="col-9 border-bottom">
            </div>
        </div>
        <!-- Passengers -->
        <div class="row justify-content-between">
            <div class="col-3">
                <div>
                    <span class="text-muted">Full Name</span>
                    <h3 class="fw-bold">Sepehr Sohrabi</h3>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Ticket Number</span>
                    <h3>0960110040346</h3>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <span class="text-muted">Total Fare</span>
                    <h4>5000RUB</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                <div class="mt-4">
                    <span class="text-muted">Doc ID</span>
                    <h6>2711234567</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Nationality</span>
                    <h6>IR</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Gender</span>
                    <h6>M</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="mt-4">
                    <span class="text-muted">Birth Date</span>
                    <h6>1974-04-16</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Passenger Type</span>
                    <h6>Adult</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Company Name</span>
                    <h5>IranAir</h5>
                    <h6>HOMARES OTA</h6>
                </div>
            </div>
            <div class="col-4">
                <div class="mt-4">
                    <span class="text-muted">Base Fare</span>
                    <h6>500RUB</h6>
                </div>
                <div class="mt-4">
                    <span class="text-muted">Airport Service Charge</span>
                    <h6>200RUB</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Passenger Safety Oversight Services Fees</span>
                    <h6>200RUB</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Municipality Tax</span>
                    <h6>200RUB</h6>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <div class="row my-5">
            <div class="col-3">
                <h4 class="text-muted" style="margin-bottom: -12px;">Contact Info</h4>
            </div>
            <div class="col-9 border-bottom">
            </div>
        </div>
        <!-- Contact Info -->
        <div class="row justify-content-between align-items-center">
            <div class="col-3">
                <div>
                    <span class="text-muted">Full Name</span>
                    <h3 class="fw-bold">Sepehr Sohrabi</h3>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Mobile Number</span>
                    <h6>09369678828</h6>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Phone Number</span>
                    <h6>013-33763094</h6>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Email</span>
                    <h6>admin@admin.com</h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}