{% extends 'main.html' %}
{% load static %}
{% block title %}Read Reservation{% endblock %}
{% block main %}

    <div class="container progress-box d-flex justify-content-center align-items-center p-4">
        <a href="{% url 'home_page' %}">
            <span class="material-icons-round fs-1 text-success me-2">travel_explore</span>
        </a>
        <label><a href="{% url 'home_page' %}">Low Fare Search</a></label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons-round fs-1 text-success me-2">assignment_ind</span>
        <label>Book & Ticket</label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons fs-1 me-2 text-success">airplane_ticket</span>
        <label>Read Reservation</label>
    </div>


    <h1>Finished</h1>
{% endblock %}