{% extends 'main.html' %}
{% load static %}
{% block title %}Read Reservation{% endblock %}
{% block main %}

    <div class="container progress-box d-flex justify-content-center align-items-center p-4">
        <a href="{% url 'home_page' %}">
            <span class="material-icons-round fs-1 text-success me-2">travel_explore</span>
        </a>
        <label><a href="{% url 'home_page' %}">Low Fare Search</a></label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons-round fs-1 text-success me-2">assignment_ind</span>
        <label>Book & Ticket</label>
        <span class="linear-gradient mx-3 activated"></span>
        <span class="material-icons fs-1 me-2 text-success">airplane_ticket</span>
        <label>Read Reservation</label>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 box4 d-flex justify-content-center align-items-center mt-5">
                <div class="text-center">
                    <h4>Dear {{user.first_name}}!</h4>
                    <h6>Have a good trip</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <lottie-player class="profilePic" src="https://assets4.lottiefiles.com/packages/lf20_gkuioes4.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
    <div class="container bg-white p-5 rounded">
        <!-- Ticket Info -->
        <div class="row justify-content-between">
            <div class="col-3 align-self-center">
                <div class="d-flex">
                    <div>
                        <span class="text-muted">From</span>
                        <h1 class="fw-bold">{{DepartureAirportLocationCode}}</h1>
                        <h6 class="text-muted">Tehran</h6>
                    </div>
                    <div class="d-flex align-items-center mx-4"><i class="bi bi-arrow-right fs-1"></i></div>
                    {% if Return_Status != None %}
                        <div class="d-flex align-items-center mx-4"><i class="bi bi-arrow-right fs-1"></i></div>
                    {% endif %}
                    <div>
                        <span class="text-muted">To</span>
                        <h1 class="fw-bold">{{ArrivalAirportLocationCode}}</h1>
                        <h6 class="text-muted">Mashhad</h6>
                    </div>
                </div></div>
            <div class="col-3 align-self-center">
                <img src="{% static 'IMG/IranAir-Logo.svg' %}" width="200px">
            </div>
            <div class="col-3 align-self-center">
                <div class="">
                    <span class="">Total Fare</span>
                    <h3 class="color1">{{TotalFareAmount}} {{TotalFareCurrencyCode}}</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-3 align-self-center">
                <div>
                    <span class="text-muted">Booking ID</span>
                    <h6 class="text-muted">{{BookingReferenceID}}</h6>
                </div>
            </div>
            <div class="col-3 align-self-center">
                <div class="">
                    <span class="text-muted">Company Name</span>
                    <h5>{{CompanyShortName}}</h5>
                    <h6>{{CompanyCode}}</h6>
                </div>
            </div>
            <div class="col-3 align-self-center">
                <div class="mt-4">
                    <span class="text-muted">Created Date & Time</span>
                    <h6>{{CreatedDateTme}}</h6>
                </div>
            </div>
        </div>
        <!-- Flights Info -->
        <div class="row justify-content-between">
            <div class="col-3">
                <div class="mt-5">
                    <span class="text-muted">Departure Date & Time</span>
                    <h6>{{departureDate}} - {{departureTime}}</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Arrival Date & Time</span>
                    <h6>{{arrivalDate}} - {{arrivalTime}}</h6>
                </div>
                <div class="mt-5">
                    <span class="text-muted">Departure Airport</span>
                    <h6>{{DepartureAirportLocationName}}</h6>
                </div>
                <div class="mt-3">
                    <span class="text-muted">Arrival Airport</span>
                    <h6>{{ArrivalAirportLocationName}}</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="mt-5">
                    <span class="text-muted">Flight Number</span>
                    <h6>{{FlightNumber}}</h6>
                </div>
                <div class="mt-5">
                    <span class="text-muted">Air Equip Type</span>
                    <h6>{{EquipmentAirEquipType}}</h6>
                </div>
            </div>
            <div class="col-3">
                <div class="mt-3">
                    <span class="text-muted">Adults</span>
                    <h6>1</h6>
                </div>
                <div class="mt-2">
                    <span class="text-muted">Children</span>
                    <h6>1</h6>
                </div>
                <div class="mt-2">
                    <span class="text-muted">Infants</span>
                    <h6>1</h6>
                </div>
            </div>
        </div>
        {% if Return_Status != None %}
            <div class="row mt-5 mb-3"><h3 class="color1">#Return_Info</h3></div>
            <div class="row justify-content-between">
                <div class="col-3">
                    <div class="mt-5">
                        <span class="text-muted">Departure Date & Time</span>
                        <h6>{{Return_DepartureDate}} - {{Return_DepartureTime}}</h6>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted">Arrival Date & Time</span>
                        <h6>{{Return_ArrivalDate}} - {{Return_ArrivalTime}}</h6>
                    </div>
                    <div class="mt-5">
                        <span class="text-muted">Departure Airport</span>
                        <h6>{{Return_DepartureAirportLocationName}}</h6>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted">Arrival Airport</span>
                        <h6>{{Return_ArrivalAirportLocationName}}</h6>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mt-5">
                        <span class="text-muted">Flight Number</span>
                        <h6>{{Return_FlightNumber}}</h6>
                    </div>
                    <div class="mt-5">
                        <span class="text-muted">Air Equip Type</span>
                        <h6>{{Return_EquipmentAirEquipType}}</h6>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mt-3">
                        <span class="text-muted">Adults</span>
                        <h6>1</h6>
                    </div>
                    <div class="mt-2">
                        <span class="text-muted">Children</span>
                        <h6>1</h6>
                    </div>
                    <div class="mt-2">
                        <span class="text-muted">Infants</span>
                        <h6>1</h6>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Divider -->
        <div class="row my-5">
            <div class="col-3">
                <h4 class="text-muted" style="margin-bottom: -12px;">Passengers Info</h4>
            </div>
            <div class="col-9 border-bottom">
            </div>
        </div>
        <!-- Travellers Info -->
        {% for traveler in Travelers_info %}
            <div class="row justify-content-between">
                <div class="col-3">
                    <div>
                        <span class="text-muted">Full Name</span>
                        <h3 class="fw-bold">{{traveler.PersonNameNamePrefix}} {{traveler.PersonNameGivenName}} {{traveler.PersonNameSurname}}</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <span class="text-muted">Ticket Number</span>
                        <h3>
                            {% for Ticketing_Ref in Ticketing_RefDocNUM %}
                                {% if traveler.TravelerRefNumberRPH == Ticketing_Ref.TicketingTravelerRefNumber %}
                                    {{Ticketing_Ref.TicketingTicketDocumentNbr}}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-3">
                    <div class="mt-4">
                        <span class="text-muted">Doc ID</span>
                        <h6>{{traveler.DocumentId}}</h6>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted">Nationality</span>
                        <h6>{{traveler.DocumentHolderNationality}}</h6>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted">Gender</span>
                        <h6>{{traveler.AirTravelerGender}}</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="mt-4">
                        <span class="text-muted">Birth Date</span>
                        <h6>{{traveler.AirTravelerBirthDate}}</h6>
                    </div>
                    <div class="mt-3">
                        <span class="text-muted">Passenger Type</span>
                        <h6>{{traveler.AirTravelerPassengerTypeCode}}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Divider -->
        <div class="row my-5">
            <div class="col-3">
                <h4 class="text-muted" style="margin-bottom: -12px;">Price Info</h4>
            </div>
            <div class="col-9 border-bottom">
            </div>
        </div>
        <!-- Price Info -->
        {% for PTC_FB in PTC_FBs %}
            <div class="row justify-content-between">
                <div class="col-3 align-self-center">
                    <div>
                        <span class="text-muted">Passenger Type Code</span>
                        <h2 class="fw-bold">{{PTC_FB.PassengerTypeQuantity_Code}}</h2>
                        <h6 class="text-muted">{{PTC_FB.PassengerTypeQuantity_Quantity}}</h6>
                    </div>
                </div>
                <div class="col-3 align-self-center">

                </div>
                <div class="col-3 align-self-center">
                    <div class="">
                        <span class="">Passenger Type Total Fare</span>
                        <h3 class="color1">{{PTC_FB.PassengerFare_TotalFare_Amount}} {{PTC_FB.PassengerFare_TotalFare_CurrencyCode}}</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mb-5">
                <div class="col-3 align-self-center">
                    <div>
                        <span class="text-muted">Passenger Type Base Fare</span>
                        <h6 class="text-muted">{{PTC_FB.PassengerFare_BaseFare_Amount}} {{PTC_FB.PassengerFare_BaseFare_CurrencyCode}}</h6>
                    </div>
                </div>
                <div class="col-6 align-self-center">
                    {% for tax in PTC_FB.Taxes %}
                        <div>
                            <span class="text-muted">{{tax.TaxName}}</span>
                            <h6>{{tax.Tax_Amount}} {{tax.Tax_CurrencyCode}}</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!-- Divider -->
        <div class="row my-5">
            <div class="col-3">
                <h4 class="text-muted" style="margin-bottom: -12px;">Contact Info</h4>
            </div>
            <div class="col-9 border-bottom">
            </div>
        </div>
        <!-- Contact Info -->
        <div class="row justify-content-between align-items-center">
            <div class="col-3">
                <div>
                    <span class="text-muted">Full Name</span>
                    <h3 class="fw-bold">{{ContactPersonGivenName}} {{ContactPersonSurname}}</h3>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Mobile Number</span>
                    <h6>{{ContactPersonMobile}}</h6>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Phone Number</span>
                    <h6>{{ContactPersonHomeTelephone}}</h6>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span class="text-muted">Email</span>
                    <h6>{{ContactPersonEmail}}</h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}